<div class="app-actions-container">
    <button class="app-button active-primary" (click)="this.sendRequest.next()">
        <span>Send Request</span>
    </button>
    <button class="app-button" (click)="this.prettifyCodeChange.next()">
        Prettify
    </button>
    <button class="app-button" (click)="this.clearEditorChange.next()">
        Clear
    </button>
    <button class="app-button" (click)="this.toggleHeaderDialog.next()">Set Headers</button>
    <button class="app-button" (click)="this.toggleVariableDialog.next()">Set Variables</button>
    <div class="actions-right right">
        <button class="app-button" (click)="toggleDocs.next()" [ngClass]="{'active-grey': showDocs}">Show Docs</button>
    </div>
</div>