services:
  postgres:
    image: postgres:13.5
    restart: always
    env_file:
      - .env
    volumes:
      - postgres:/var/lib/postgresql/data
    ports:
      - '7233:5432'

  postgres-shadow:
    image: postgres:13.5
    restart: always
    environment:
      - POSTGRES_DB=altairgraphql-shadow-db
      - POSTGRES_USER=my_db_user
      - POSTGRES_PASSWORD=db_password
    ports:
      - '8729:5432'

  ollama:
    image: ollama/ollama:latest
    ports:
      - 7869:11434
    volumes:
      - .:/code
      - ./.ollama/ollama:/root/.ollama
      - ./bin/start_ollama.sh:/entrypoint.sh
    # pull_policy: always
    tty: true
    restart: no
    env_file: .env
    entrypoint: ['/usr/bin/bash', '/entrypoint.sh']

volumes:
  postgres:
