# Version control and IDE
**/.git
**/.gitignore
**/.vscode
**/.vs
**/.project
**/.settings
**/.classpath
**/.toolstarget
**/*.*proj.user

# Environment and secrets
**/.env
**/secrets.dev.yaml
**/values.dev.yaml

# Build artifacts and caches
**/.next
**/.cache
**/.turbo
**/node_modules
**/build
**/dist
**/obj
**/coverage
**/npm-debug.log
**/*.dbmdl
**/*.jfm
**/.vite
**/yarn-error.log
target
out
extension-builds
web-ext-artifacts
**/.ollama

# Docker files (avoid recursive builds)
**/docker-compose*
**/compose*
**/Dockerfile*
**/.dockerignore

# Packages not needed for the API build
packages/altair-app
packages/altair-crx
packages/altair-docs
packages/altair-electron
packages/altair-electron-interop
packages/altair-electron-settings
packages/altair-electron-settings-static
packages/altair-express-middleware
packages/altair-fastify-plugin
packages/altair-iframe-sandbox
packages/altair-koa-middleware
packages/altair-plugin
packages/altair-static
packages/altair-tauri
packages/altair-tauri-isolation
packages/coverage
packages/gatsby-plugin-altair-graphql
packages/login-redirect

# Other directories not needed for the API
plugins
test-server
examples
.github
**/charts
libs
