# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/tmp
/out-tsc
/chrome-extension
/electron-builds
/docs/_site
/docs/.sass-cache
/docs/.jekyll-metadata
altair.zip
out/
/web-ext-artifacts
/firebase-sample-dist
*.nex
src/app/utils/settings.schema.json
src/app/utils/validate_settings_schema.js
extension-builds/

dist
build

# dependencies
node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/

# misc
/.sass-cache
/connect.lock
/coverage
/typings

# Error logs
/libpeerconnection.log
npm-debug.log
lerna-debug.log
yarn-error.log
testem.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
