.add-to-collection__list-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: pointer;
  transition: all .3s ease;
  background: var(--theme-bg-color);
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid var(--theme-off-border-color);
  &:hover {
    border-color: var(--primary-color);
  }
}
.add-to-collection__actions {
  padding: 10px 0;
}