.toast-top-center {
  top: 10px;
}
#toast-container {
  & > .toast {
    line-height: 1.4;
    box-shadow: none;
    border-radius: 2px;
    background-position: 20px center;
    padding: 15px 15px 15px 60px;
    border-left: 5px solid white;
    width: 100%;
    max-width: 400px;

  }
  .toast-title {
    line-height: 1.2;
    text-transform: uppercase;
    font-size: fontsize(14);
    letter-spacing: .5px;
    margin-bottom: 3px;
  }
  .toast-close-button {
    font-weight: normal;
    text-shadow: none;
    transition: all .3s ease;
  }
  .toast-message {
    font-size: fontsize(13);
  }
}
