.app-dialog{
  background: $theme-bg-color;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 5px 12px 2px rgba($black, .1);
}
.app-dialog-header{
  margin-bottom: 30px;
  color: $theme-font-color;
  font-size: 14px;
}
.app-dialog-title{
  color: $green;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 1;
}
.app-dialog-body{
  margin-bottom: 10px;
  max-height: 500px;
  overflow: auto;
}
.app-dialog-section {
  margin-bottom: 20px;
}
.app-dialog-footer {
  width: 100%;
}

.dialog-select {
  display: block;
  font-size: 14px;
  padding: 5px 0;
  line-height: 1;
  border: none;
  border-bottom: 2px solid $theme-border-color;
  transition: all .3s ease;
  min-width: 250px;
  border-radius: 0;
  background: transparent;
  color: $theme-font-color;
  &:focus{
    border-color: $green;
  }
}
.set-header-input-container {
  display: flex;
  flex: 1;
  margin-bottom: 30px;
}
.set-header-input-column {
  max-width: 50%;
  flex: 1;
  padding: 0 10px;
}
.set-header-input, .dialog-input {
  font-size: 14px;
  padding: 5px 0;
  line-height: 1;
  border: none;
  border-bottom: 2px solid $theme-border-color;
  transition: all .3s ease;
  &:focus{
    border-color: $green;
  }
}
.header-input-remove-button {
  font-size: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: all .3s ease;
  &:hover{
    color: $red;
  }
}
