app-doc-viewer {
  position: relative;
background: var(--theme-bg-color);
//z-index: 7;
transition: all .5s var(--app-easing);
//   overflow: auto;
line-height: 1.2;
&.hide-doc{
  flex-grow: 0 !important;
  width: 0;
  padding: 0;
  .app-doc-viewer {
      padding: 0;
      width: 0;
  }
}
}
.app-doc-notice{
  text-align: center;
  font-weight: bold;
  color: var(--red-color);
  font-size: 16px;
  padding: 70px 30px;
}
.app-doc-viewer{
  position: relative;
  padding: 20px;
  height: 100%;
  overflow: auto;
}
.app-doc-loader{
  @include hide-transition;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(var(--rgb-theme-bg), .8);
  z-index: 5;
  img{
    vertical-align: middle;
  }
}
.show-loader{
  @include show-transition;
}
.doc-viewer-header{
  margin-bottom: 20px;
}
.doc-viewer-close{
  float: right;
  font-size: 25px;
  color: var(--theme-font-color);
  cursor: pointer;
}
.doc-viewer-export-sdl {
position: absolute;
transform: translateX(-50%);
left: 50%;
line-height: 30px;
font-size: 12px;
color: var(--orange-color);
cursor: pointer;
opacity: .5;
transition: all .3s ease;
&:hover {
  opacity: 1;
}
}
.doc-viewer-back-link{
  padding: 10px 0;
  color: var(--blue-color);
  cursor: pointer;
  display: inline-block;
}
.doc-viewer-breadcrumbs-container{
  padding: 10px 0;
}
.doc-viewer-breadcrumbs{
  margin: 0;
  padding: 0;
  li{
      display: inline-block;
      &:after{
          content: ' /';
          margin: 0 5px;
      }
      &:last-child{
          &:after{
              content: none;
          }
      }
  }
  a{
      color: var(--blue-color);
      text-decoration: none;
  }
}
.doc-viewer-search-wrapper{
  padding: 15px 0;
  margin-bottom: 15px;
  line-height: 1;
}
.doc-viewer-search-input{
  width: 100%;
  font-size: 14px;
  padding: 5px 0;
  border: none;
  border-bottom: 1px solid var(--theme-border-color);
  transition: all .3s ease;
  &:focus{
      border-bottom-color: var(--green-color);
  }
}
.ngui-auto-complete-wrapper {
  ul li {
      border: none;
      padding: 10px;
      background: var(--white-color);
      color: var(--black-color);
  }
}
.doc-viewer-search-results-title{
  text-transform: uppercase;
  font-size: 10px;
  margin-bottom: 10px;
  color: var(--red-color);
}
.doc-viewer-search-result-item{
  position: relative;
  padding: 10px 60px 10px 5px;
  border-radius: 3px;
  color: var(--theme-font-color);
  font-size: 13px;
  transition: all .3s ease;
  cursor: pointer;
  &:hover{
      background: rgba(var(--rgb-grey), .5);
  }
}
.doc-viewer-search-result-item-inner{
  font-weight: bold;
}
.doc-viewer-search-result-parent-type{
  color: var(--theme-off-font-color);
  text-decoration: underline;
}
.doc-viewer-search-result-cat{
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  padding: 3px;
  border-radius: 3px;
  &.cat-type{
      background: rgba(var(--rgb-green), .05);
      color: var(--green-color);
  }
  &.cat-field{
      background: rgba(var(--rgb-blue), .05);
      color: var(--blue-color);
  }
  &.cat-query{
      background: rgba(var(--rgb-cerise), .05);
      color: var(--cerise-color);
  }
  &.cat-argument{
      background: rgba(var(--rgb-orange), .05);
      color: var(--orange-color);
  }
}
.doc-viewer-search-result-highlight{
background: rgba(var(--rgb-orange), .1);
}
.doc-viewer-search-result-description{
  color: var(--theme-off-font-color);
  font-size: 12px;
  font-weight: normal;
}
.doc-viewer-section{
  margin: 0px 0 40px;
  // border-bottom: 1px solid var(--light-grey-color);
}
.doc-viewer-section-title{
  font-size: 10px;
  color: var(--theme-off-font-color);
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.doc-viewer-item{
  margin-bottom: 20px;
}
.doc-viewer-item-query{
  position: relative;
  padding-left: 10px;
  padding-right: 75px;
  &:before{
      content: '';
      position: absolute;
      top: 6px;
      left: 0;
      display: inline-block;
      width: 5px;
      height: 5px;
      border-radius: 2px;
      background-color: var(--green-color);
      vertical-align: middle;
  }
  &:hover{
      .doc-viewer-item-query-add-btn{
          opacity: 1;
      }
  }
}
.doc-viewer-item-field{
  color: var(--blue-color);
}
.doc-viewer-item-type{
  color: var(--green-color);
  font-size: 13px;
}
.doc-viewer-item-value{
  font-size: 12px;
}
.doc-viewer-item-query-type{
  background: rgba(var(--rgb-green), .05);
  padding: 3px;
  border-radius: 3px;
}
.doc-viewer-item-query-inner{
  margin-bottom: 1px;
}
.doc-viewer-item-query-deprecated{
  display: inline-block;
  font-size: 12px;
  padding: 3px;
  background: rgba(var(--rgb-red), .05);
  color: var(--red-color);
}
.doc-viewer-item-query-description{
  font-size: 13px;
  // font-style: italic;
  color: var(--theme-off-font-color);
}
.doc-viewer-item-query-add-btn{
  position: absolute;
  top: 0;
  right: 0;
  font-size: 10px;
  text-transform: uppercase;
  color: var(--orange-color);
  background: rgba(var(--rgb-orange), .2);
  border: none;
  border-radius: 3px;
  padding: 3px 5px;
  transition: all .3s ease;
  opacity: 0;
  line-height: 1;
}
