.query-editor-container {
  position: relative;
  height: 100%;
  overflow: auto;
  background: $theme-bg-color;
  border-radius: 4px;
  pre {
    font-family: inherit;
  }
}
.query-editor__input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  border: 0;
  padding: 0;
  resize: none;
}

.query-result__normal-container {
  position: relative;
  .app-query-result-textarea {
    position: absolute;
    top: 10px;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
.query-result-container {
  height: 100%;
  // overflow: auto;
  background: $theme-off-bg-color;
  border-radius: 4px;
  pre {
    font-family: inherit;
  }
}
.query-result__normal-container, .query-result__subscription-container {
  height: 100%;
}
.query-result__none{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: 24px;
  font-weight: bold;
  color: $theme-off-font-color;
}
.query-result__none-subtext{
  font-size: 16px;
  margin-bottom: 10px;
}
.query-result__none-inner{
  width: 400px;
  max-width: 90%;
}
.query-result__none-art-button{
  display: inline-block;
  width: 50px;
  height: 20px;
  background: darken($light-grey, 5%);
  opacity: .8;
  border-radius: 5px;
  &.send{
    background: $green;
  }
}
.query-result__bottom-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.subscription-result__actions {
  display: flex;
  align-items: center;
  padding: 10px;
  line-height: 1;
}
.subscription-result__actions-left {
  flex: 1 1 50%;
}
.subscription-result__actions-right {
  flex: 1 1 50%;
  text-align: right;
}
.subscription-result__actions-url {
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
}
.subscription-result__list-wrapper {
  padding: 0 10px;
}
.subscription-result__list-item {
  position: relative;
  font-size: 12px;
  margin-bottom: 10px;
}
.subscription-result__list-item--expanded {
  .subscription-result__list-item-content {
    white-space: normal;
  }
  .subscription-result__list-item-time {
    position: static;
  }
}
.subscription-result__list-item-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: $theme-bg-color;
  padding: 5px 10px;
  border-radius: 3px;
}
.subscription-result__list-item-time {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: $theme-bg-color;
  color: $theme-off-font-color;
}
