app-query-editor {
  transition: all .3s ease;
  display: flex;
  flex-direction: column;
}
.query-editor-container {
  position: relative;
  height: 100%;
  overflow: auto;
  background: var(--theme-bg-color);
  border-radius: 4px;
  pre {
    font-family: inherit;
  }
}
.query-editor__input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: fontsize(14);
  border: 0;
  padding: 0;
  resize: none;
}

.query-result__normal-container {
  position: relative;
  .app-query-result-textarea {
    position: absolute;
    top: 40px;
    left: 0;
    height: 100%;
    width: 100%;
  }
}
.query-result-container {
  height: 100%;
  // overflow: auto;
  background: var(--theme-off-bg-color);
  border-radius: 4px;
  pre {
    font-family: inherit;
  }
}
.query-result__normal-container, .query-result__subscription-container {
  height: 100%;
}
.query-result__subscription-container {
  position: relative;
  overflow: auto;
}
.query-result__none{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: fontsize(24);
  font-weight: bold;
  color: var(--theme-off-font-color);
}
.query-result__none-subtext{
  font-size: fontsize(16);
  margin-bottom: 10px;
}
.query-result__none-inner{
  width: 400px;
  max-width: 90%;
}
.query-result__none-art-button{
  display: inline-block;
  width: 50px;
  height: 20px;
  // background: darken($theme-off-bg-color, 5%);
  background: var(--theme-bg-color);
  opacity: .8;
  border-radius: 5px;
  &.send{
    background: $green;
  }
}
.query-result__bottom-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
}

.subscription-result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.subscription-result__actions {
  display: flex;
  align-items: center;
  padding: 10px;
  line-height: 1;
}
.subscription-result__actions-left {
  flex: 1 1 50%;
}
.subscription-result__actions-right {
  flex: 1 1 50%;
  text-align: right;
}
.subscription-result__actions-url {
  display: inline-block;
  vertical-align: middle;
  font-size: fontsize(13);
}
.subscription-result__list-wrapper {
  padding: 0 10px;
}
.subscription-result__list-item {
  position: relative;
  font-size: fontsize(12);
  margin-bottom: 10px;
}
.subscription-result__list-item--expanded {
  .subscription-result__list-item-content {
    white-space: normal;
  }
  .subscription-result__list-item-time {
    position: static;
  }
}
.subscription-result__list-item-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--theme-bg-color);
  padding: 5px 10px;
  border-radius: 3px;
}
.subscription-result__list-item-time {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: var(--theme-bg-color);
  color: var(--theme-off-font-color);
}

.variables-editor-container {
  display: flex;
  flex-direction: column;
  max-height: 50%;
  &.show-variables {
    min-height: 50%;
  }
}
.variables-editor {
  &--title {
    text-transform: uppercase;
    padding: 0 15px;
    font-size: fontsize(13);
    font-weight: 700;
    cursor: pointer;
  }
  // &-inner {
    // height: 0;
  // }
}
.variables-editor-inner {
  position: relative;
  overflow: auto;
  flex: 1;
}
.set-variable-textarea {
  position: absolute;
  width: 100%;
  height: 100%;
}

.variables-add-files-button {
  background: none;
  border: none;
  color: var(--primary-color);
  text-decoration: underline;
}
.variables-files-container {
  padding: 3px 5px;
}

.variables-file-item {
  display: flex;
}
.variables-file-item-name-input-wrapper {
  flex: 1;
  padding: 0 5px;
}
.variables-file-item-input-wrapper {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
}
.variables-file-item-name-input {
  font-size: fontsize(14);
  padding: 5px 0;
  line-height: 1;
  border: none;
  border-bottom: 2px solid var(--theme-border-color);
  transition: all .3s ease;
  &:focus{
    border-color: $green;
  }
}
::-webkit-file-upload-button {
  border-radius: 4px;
}
.variables-file-item-input-delete {
  padding: 3px;
  cursor: pointer;
  &:hover {
    color: var(--red-color);
  }
}