.header {
  box-shadow: 0 0px 5px 2px rgba(var(--rgb-black), 0.1);
  background: var(--header-bg-color);
  .branding {
    padding: 0;
    justify-content: center;
    min-width: 65px;
  }
  .header-actions {
    flex: 0 0 auto;
  }
  .nav-link {
    background: var(--header-bg-color);
    color: var(--theme-font-color);
    border: none;
  }
}
.header-logo {
  width: 30px;
}
