.header {
  box-shadow: 0 0px 5px 2px rgba(var(--rgb-black), 0.1);
  background: var(--header-bg-color);
  .branding {
    position: relative;
    padding: 0;
    justify-content: center;
    min-width: 65px;
  }
  .header-actions {
    flex: 0 0 auto;
  }
  .nav-link {
    background: var(--header-bg-color);
    color: var(--theme-font-color);
    border: none;
  }
}
.header-logo {
  width: 30px;
}
.header-logo-wrapper--experimental {
  mix-blend-mode: luminosity;

  &:before {
    content: '🔥Dev🔥';
    position: absolute;
    left: 0;
    bottom: 0;
    color: var(--theme-font-color);
    text-transform: uppercase;
    font-size: 10px;
    display: block;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
}

.header__environemnt-link {
  padding: 3px 5px;
  background: var(--theme-bg-color);
  border-radius: 4px;
  border: 1px solid var(--theme-border-color);
}