.history-container {
  border-radius: 4px;
}

.history-item {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  cursor: pointer;
  transition: all .3s ease;
  background: $theme-bg-color;
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid $theme-off-border-color;
  &:hover {
    border-color: $primary-color;
  }
}
