.window-loader{
    @include hide-transition;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($white, .8);
    z-index: 50;
    img{
        vertical-align: middle;
    }
}
.window-loader--show{
    @include show-transition;
}
