app-query-collections {
  height: 100%;
}

.query-collections-wrapper {
  height: 100%;
  max-width: 320px;
  width: 320px;
  background: $theme-off-bg-color;
  padding: 0 5px;
  will-change: width;
  overflow: hidden;
  // transition: all .3s ease;
  &.query-collections-wrapper--close {
    width: 0;
    padding: 0;
    flex-grow: 0;
  }
}
.query-collections__inner {
  height: 100%;
  overflow: auto;
  background: $theme-bg-color;
  // padding: 10px;
  .clr-treenode-content {
    line-height: 1.4;
    margin-bottom: 5px;
  }
}
.query-collections__title {
  text-transform: uppercase;
  font-weight: bold;
  padding: 10px;
}
.query-collections__actions {
  margin-bottom: 10px;
}

.query-collections__items-wrapper {
  font-size: 13px;
}

.query-collections__item {
}
.query-collections__item-details {
  padding: 5px 10px;
  border-bottom: 1px solid $theme-border-color;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    background: rgba($theme-font-color, .05);
  }
}
.query-collections__item-title {
  font-weight: bold;
}
.query-collections__item-description {
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  // max-height: 50px;
}
.query-collections__item-meta {
  font-size: 12px;
}
.query-collections__item-content-wrapper {
  overflow: hidden;
  max-height: 99em;
  transition: all .3s ease;
}
.query-collections__item-content--hidden {
  max-height: 0;
  opacity: 0;
}
.query-collections__item-nested {
  padding-left: 10px;
}
.query-collections__item-queries-item {
  padding: 10px;
  cursor: pointer;
  transition: all .3s ease;
  &:hover {
    background: rgba($theme-font-color, .05);
    .query-collections__item-queries-item-right-icon {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
.query-collections__item-queries-item-title {
  display: inline-block;
  vertical-align: middle;
}
.query-collections__item-queries-item-right-icon {
  float: right;
  opacity: 0;
  transform: translateX(-50%);
  transition: all .3s ease;
}