.app-side-menu {
  background: $theme-bg-color;
  flex: 0 0 auto;
  order: -1;
  display: flex;
  flex-direction: row;
  will-change: width;
}
.side-menu__main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  width: 60px;
  min-width: 60px;
  padding-top: 15px;
}
.side-menu__main-bottom {
  margin-top: auto;
}
.side-menu__extra {
}

.side-menu-item {
  display: block;
  position: relative;
  height: 50px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  color: $theme-font-color;
  opacity: .5;
  transition: all .3s ease;
  &:hover {
    opacity: 1;
    color: $theme-font-color;
    .side-menu-item-label {
      // max-width: 300px;
    }
  }
  &--active {
    opacity: 1;
    // background: rgba($theme-off-font-color, .1);
  }
}
.side-menu-item-label {
  position: absolute;
  top: 0;
  left: 45px;
  z-index: 4;
  background: $theme-bg-color;
  // max-width: 0;
  white-space: nowrap;
  overflow: hidden;
  transition: all 0.3s ease;
}

.side-menu-divider {
  border: 1px solid $theme-off-bg-color;
  margin: 10px 0;
  opacity: .5;
}
