.url-box {
  // max-width: 900px;
  margin: 0 auto 20px;
  width: 100%;
}
.url-box__input {
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  border: 1px solid $grey;
  box-shadow: 0 4px 30px rgba($black, .05);
  padding: 0 15px;
  transition: all .3s ease;
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 0px 4px 4px 0px;
  &:hover {
    border-color: $light-grey;
  }
  &:focus, &:active {
    border-color: $primary-color;
  }
}

.btn.btn-outline-primary.url-box__button {
  /* top-left | top-right | bottom-right | bottom-left */
  border-radius: 4px 0px 0px 4px;
  height: 100%;
  border-color: $green;
  color: $green;
}


