.window-switcher__container {
  -webkit-app-region: drag;
}
app-window-switcher {
  flex: 1 1 auto;
  overflow: auto;

  --shadow-height: 100%;
  // --shadow-color: rgba(0, 0, 0, 0.1);
  --shadow-weight: 9px;

  background:
      //Left start and right start 'inside' container colors (they overlap the shadows)
      linear-gradient(90deg, var(--header-bg-color) 0%, rgba(255, 255, 255, 0)),
      linear-gradient(-90deg, var(--header-bg-color) 0%, rgba(255, 255, 255, 0)) 100% 0,
      //Left and right scroll shadows
      linear-gradient(90deg, var(--shadow-bg), rgba(0, 0, 0, 0)),
      linear-gradient(-90deg, var(--shadow-bg), rgba(0, 0, 0, 0)) 100% 0;

  background-repeat: no-repeat;
  background-color: var(--header-bg-color);
  background-size: 100px 100%, 100px 100%, var(--shadow-weight) var(--shadow-height), var(--shadow-weight) var(--shadow-height);
  background-attachment: local, local, scroll, scroll;


  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--theme-bg-color);
  }
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
  }
}
.header .header-nav .nav-link.nav-text {
  padding: .5rem 1rem;
  line-height: 1.5rem;
}
.window-switcher {
  cursor: pointer;
  border-bottom: 2px solid transparent;
  &:hover{
    // color: $green;
    border-bottom-color: var(--theme-border-color);
    .window-switcher__close{
      opacity: 1;
    }
  }
  &.active{
    // color: $green;
    border-bottom-color: var(--green-color);
    // background: $white;
    // box-shadow: 0 0 5px rgba($black, .2);
    // .window-switcher__close{
    //   opacity: 1;
    // }
  }
}
.window-switcher__input{
  padding-left: 4px;
  padding-right: 4px;
  user-select: none; // Prevent tab title from highlighting on right click

  &:focus{
    box-shadow: 0 0 2px 2px var(--orange-color);
    border-radius: 3px;
  }
}
.window-switcher__close{
  position: absolute;
  top: 50%;
  margin-top: -7px;
  right: 5px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  text-align: center;
  opacity: 0;
  transition: all .3s ease;
  line-height: 1;
  &:hover {
    color: var(--red-color);
  }
}
.header-nav .nav-link.window-switcher--new-window {
  &:hover {
    color: var(--green-color);
  }
}
