<div class="app-wrapper" [ngClass]="(settings$ | async).theme + '-theme'" dnd-droppable (onDropSuccess)="fileDropped($event)">
  <div class="main-container">
    <div class="loading-screen styled" *ngIf="!isReady">
      <div class="loading-screen-inner">
        <div class="loading-screen-logo-container">
          <img src="assets/img/logo_350.svg" alt="Altair">
        </div>
        <div class="loading-screen-loading-indicator">
          <span class="loading-indicator-dot"></span>
          <span class="loading-indicator-dot"></span>
          <span class="loading-indicator-dot"></span>
        </div>
      </div>
    </div>
    <header class="header">
      <div class="branding">
        <img src="assets/img/logo.svg" alt="logo" class="header-logo">
      </div>
      <app-window-switcher
        [windows]="windows"
        [windowIds] = "windowIds"
        [activeWindowId]="activeWindowId"
        [isElectron]="isElectron"
        (newWindowChange)="newWindow()"
        (activeWindowChange)="setActiveWindow($event)"
        (removeWindowChange)="removeWindow($event)"
        (windowNameChange)="setWindowName($event)"
        (repositionWindowChange)="repositionWindow($event)"
      ></app-window-switcher>
      <div class="header-actions">
        <clr-dropdown>
          <button class="nav-icon" type="button" clrDropdownTrigger track-id="show_settings_menu">
            <clr-icon shape="cog"></clr-icon>
            <clr-icon shape="caret down"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
            <button type="button" clrDropdownItem (click)="importWindow()" track-id="import_window">{{ 'IMPORT_WINDOW_TEXT' | translate }}</button>
            <button type="button" clrDropdownItem (click)="setShowImportCurlDialog(true)" track-id="import_window_from_curl">{{ 'IMPORT_WINDOW_FROM_CURL_TEXT' | translate }}</button>
            <button type="button" clrDropdownItem (click)="showSettingsDialog()" track-id="show_settings">{{ 'SETTINGS_TEXT' | translate }}</button>
            <button type="button" clrDropdownItem (click)="externalLink($event, 'https://github.com/imolorhe/altair')" track-id="view_on_github">{{ 'VIEW_ON_GITHUB_TEXT' | translate }}</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      </div>
    </header>
    <ng-container *ngFor="let windowId of windowIds">
      <app-window [windowId]="windowId" [class.hide]="windowId !== activeWindowId"></app-window>
    </ng-container>
    <div class="dialogs">
      <app-settings-dialog
        [settings]="settings$ | async"
        (toggleDialogChange)="$event ? showSettingsDialog() : hideSettingsDialog()"
        (themeChange)="onThemeChange($event)"
        (languageChange)="onLanguageChange($event)"
        (addQueryDepthLimitChange)="onAddQueryDepthLimitChange($event)"
        (tabSizeChange)="onTabSizeChange($event)"
      ></app-settings-dialog>
      <app-import-curl-dialog
        [showImportCurlDialog]="showImportCurlDialog"
        (toggleDialogChange)="setShowImportCurlDialog($event)"
        (importCurlChange)="importWindowFromCurl($event)"
      ></app-import-curl-dialog>
    </div>

    <clr-alert [clrAlertType]="'alert-warning'" [clrAlertAppLevel]="true" (clrAlertClosedChange)="hideDonationAlert()" *ngIf="showDonationAlert">
      <clr-alert-item>
        <span class="alert-text">
          Do you find this app useful? Would you mind supporting its development?
        </span>
        <div class="alert-actions">
          <button class="btn alert-action" (click)="openDonationPage($event)">Donate</button>
        </div>
      </clr-alert-item>
    </clr-alert>
  </div>
  <!-- The github link has been added to the settings dropdown -->
  <!-- <app-fork-repo *ngIf="!isElectron"></app-fork-repo> -->
</div>
