<div class="wrapper">
  <app-window-switcher
   [windows]="windowsArr"
   [activeWindowId]="activeWindowId"
   [isElectron]="isElectron"
   (newWindowChange)="newWindow()"
   (activeWindowChange)="setActiveWindow($event)"
   (removeWindowChange)="removeWindow($event)"
   (windowNameChange)="setWindowName($event)"
  ></app-window-switcher>
  <ng-container *ngFor="let windowId of windowIds">
    <app-window [windowId]="windowId" [class.hide]="windowId !== activeWindowId"></app-window>
  </ng-container>
</div>
<app-fork-repo *ngIf="!isElectron"></app-fork-repo>
