.wrapper{
    padding: 20px;
}
.app-loader{
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($white, .8);
    z-index: 5;
    img{
        vertical-align: middle;
    }
}
.app-header{
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}
.app-header-inner{
    position: relative;
    height: 50px;
    box-shadow: 0 5px 12px 2px rgba($black, .1);
    border-radius: 5px;
    overflow: hidden;
}
.app-logo{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    img{
        vertical-align: middle;
    }
}
.app-url-container{
    margin-left: 50px;
    margin-right: 150px;
}
.app-url-input{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    border: 0;
}
.app-url-actions{
    position: absolute;
    top: 0;
    right: 0;
}
.app-url-button{
    color: $green;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    background: $white;
    border: 0;
    padding: 0 20px;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        background: $green;
        color: $white;
    }
}
.app-url-alert{
    position: absolute;
    color: $green;
    background: $white;
    padding: 10px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.app-actions-container{
    @include clearfix;
    height: 50px;
    margin: 0 10px;
}

.app-main-section{
    position: relative;
    display: flex;
    background: $white;
    flex: 1;
    overflow: hidden;
}
app-query-editor{
    flex: 1;
    max-width: 50%;
}
.app-query-editor-input-container{
    height: 100%;
}
.app-query-editor-input{
    width: 100%;
    height: 100%;
    font-size: 14px;
    border: 0;
    padding: 0;
    resize: none;
}
app-query-result{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 50%;
}
.app-result-container{
    display: flex;
    flex: 1;
    background: $light-grey;
    border-radius: 5px;
    overflow: scroll;
}
.app-result{
    width: 100%;
    height: 100%;
    &.hide-result{
        height: 0;
        // display: none;
    }
}
.app-query-result-textarea{
    width: 100%;
    height: 100%;
    border: 0;
    padding: 0;
    resize: none;
    background: transparent;
    font-size: 14px;
}
.cm-s-query-result{
    .cm-attribute{
        color: $result-default;
    }
    .cm-string{
        color: $result-string;
    }
    .cm-property{
        color: $result-default;
    }
    .cm-punctuation{
        color: $result-default;
    }
}
.app-no-result{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: $dark-grey;
}
.app-dialog-overlay{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($white, .7);
    z-index: $dialog-z-index - 1;
}
.app-dialog{
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    max-width: 90%;
    width: 600px;
    z-index: $dialog-z-index;
    background: $white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 5px 12px 2px rgba($black, .1);
}
.app-dialog-header{
    margin-bottom: 30px;
    color: $dark-grey;
}
.app-dialog-title{
    color: $green;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}

.set-header-input-container,
.set-variable-input-container{
    display: flex;
    flex: 1;
    margin: 0 -10px;
    margin-bottom: 30px;
}
.set-header-input-column,
.set-variable-input-column{
    max-width: 50%;
    flex: 1;
    padding: 0 10px;
}
.set-header-input,
.set-variable-input{
    font-size: 14px;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid $grey;
    transition: all .3s ease;
    &:focus{
        border-color: $green;
    }
}
.header-input-remove-button,
.variable-input-remove-button{
    font-size: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        color: $red;
    }
}