.wrapper{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.app-window-switcher-container{
    -webkit-app-region: drag;
    padding: 0px 20px 10px;
    background: linear-gradient(to bottom, rgba($black, .05), rgba($black, 0) 15%);
    &:hover{
        .create-new-window{
            opacity: 1;
        }
    }
}
.app-window-switcher-electron-stub{
    display: inline-block;
    width: 55px;
    font-size: 13px;
    padding: 10px 25px 10px 20px;
}
.app-window-switcher{
    -webkit-app-region: no-drag;
    position: relative;
    display: inline-block;
    padding: 10px 25px 10px 20px;
    font-size: 13px;
    color: $dark-grey;
    border-radius: 0 0 10px 10px;
    transition: all .3s ease;
    cursor: pointer;
    max-width: 150px;
    white-space: nowrap;
    &:hover{
        color: $green;
        .app-window-switcher-close{
            opacity: 1;
        }
    }
    &.active{
        color: $green;
        background: $white;
        box-shadow: 0 0 5px rgba($black, .2);
        .app-window-switcher-close{
            opacity: 1;
        }
    }
    &.create-new-window{
        opacity: 0;
        box-shadow: 0 0 5px rgba($black, .2);
    }
}
.app-window-switcher-input{
    &:focus{
        outline: 1px solid $orange;
    }
}
.app-window-switcher-close{
    position: absolute;
    top: 50%;
    margin-top: -8px;
    right: 5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    text-align: center;
    opacity: 0;
    transition: all .3s ease;
}
.app-window-container{
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 0 20px 20px;
    max-width: 100%;
}
.app-loader{
    @include hide-transition;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($white, .8);
    z-index: 5;
    img{
        vertical-align: middle;
    }
}
.show-loader{
    @include show-transition;
}
.app-header{
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}
.app-header-inner{
    position: relative;
    height: 50px;
    box-shadow: 0 5px 12px 2px rgba($black, .1);
    border-radius: 5px;
    overflow: hidden;
}
.app-logo{
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 50px;
    height: 50px;
    width: 50px;
    img{
        vertical-align: middle;
    }
}
.app-url-container{
    margin-left: 50px;
    margin-right: 150px;
}
.app-url-input{
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    border: 0;
}
.app-url-actions{
  position: absolute;
  top: 0;
  right: 0;
}
.app-url-button{
  color: $green;
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  background: $white;
  border: 0;
  padding: 0 20px;
  cursor: pointer;
  transition: all .3s ease;
  &:hover{
    background: $green;
    color: $white;
  }
}
.app-url-alert{
  position: absolute;
  color: $green;
  background: $white;
  padding: 10px;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  &.url-alert-error{
    color: $red;
  }
}

.app-actions-container{
  @include clearfix;
  height: 50px;
  margin: 0 10px;
}

.app-main-section{
    position: relative;
    display: flex;
    background: $white;
    flex: 1;
    overflow: hidden;
}
app-query-editor{
    flex: 1;
    max-width: 50%;
}
.app-query-editor-input-container{
    height: 100%;
}
.app-query-editor-input{
    width: 100%;
    height: 100%;
    font-size: 14px;
    border: 0;
    padding: 0;
    resize: none;
}
app-query-result{
    display: flex;
    flex: 1;
    flex-direction: column;
    max-width: 50%;
}
.app-result-container{
    display: flex;
    flex: 1;
    background: $light-grey;
    border-radius: 5px;
    overflow: scroll;
}
.app-result{
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  &.hide-result{
    height: 0;
    // display: none;
  }

  .response-stats{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px;
    font-size: 12px;
  }
  .response-status-text{
    display: inline-block;
    text-transform: uppercase;
    margin-right: 10px;
    border-radius: 5px;
    padding: 3px 8px;
    background: rgba($black, .5);
    color: $white;
  }
  .response-status-code{
    display: inline-block;
    background: rgba($blue, .1);
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
  }
  .response-time{
    display: inline-block;
  }
  .download-response-button{
    padding: 3px 5px;
    border: none;
    border-radius: 4px;
    background: transparent;
    margin: 0 5px;
    font-size: 12px;
    &:hover {
      text-decoration: underline;
    }
  }
}
.app-query-result-textarea{
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  resize: none;
  background: transparent;
  font-size: 14px;
}
.app-no-result{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    width: 100%;
    font-size: 24px;
    font-weight: bold;
    color: $dark-grey;
}
.app-no-result-subtext{
    font-size: 16px;
    margin-bottom: 10px;
}
.app-no-result-inner{
    width: 400px;
    max-width: 90%;
}
.app-no-result-art-button{
    display: inline-block;
    width: 50px;
    height: 20px;
    background: darken($light-grey, 5%);
    opacity: .8;
    border-radius: 5px;
    &.send{
        background: $green;
    }
}
.app-dialog-wrapper{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    visibility: hidden;
    opacity: 0;
    transition-delay: 0s;
    animation-duration: .3s;
}
.show-dialog{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s var(--app-easing) 0s, opacity 300ms;
    .app-dialog{
        transform: translateX(-50%) translateY(0%) scale(1);
        transition: all .3s var(--app-easing);
    }
}
.hide-dialog{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s var(--app-easing) 300ms, opacity 300ms;
    .app-dialog{
        transition: all .3s var(--app-easing);
    }
}
.app-dialog-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba($white, .7);
    z-index: $dialog-z-index - 1;
}
.app-dialog{
    position: absolute;
    z-index: 1;
    top: 50px;
    left: 50%;
    // transform: translateX(-50%);
    max-width: 90%;
    width: 600px;
    z-index: $dialog-z-index;
    background: $white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 5px 12px 2px rgba($black, .1);
    // Changed translateY to 0% and scale to 1 when the dialog is shown
    transform: translateX(-50%) translateY(-10%) scale(0.8);
}
.app-dialog-header{
    margin-bottom: 30px;
    color: $dark-grey;
}
.app-dialog-title{
    color: $green;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
}
.app-dialog-body{
    margin-bottom: 10px;
    max-height: 500px;
    overflow: auto;
}

.set-header-input-container,
.set-variable-input-container{
    display: flex;
    flex: 1;
    margin: 0 -10px;
    margin-bottom: 30px;
}
.set-header-input-column,
.set-variable-input-column{
    max-width: 50%;
    flex: 1;
    padding: 0 10px;
}
.set-header-input,
.set-variable-input{
    font-size: 14px;
    padding: 5px 0;
    border: none;
    border-bottom: 2px solid $grey;
    transition: all .3s ease;
    &:focus{
        border-color: $green;
    }
}
.header-input-remove-button,
.variable-input-remove-button{
    font-size: 16px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: all .3s ease;
    &:hover{
        color: $red;
    }
}
