<ul
  nz-menu
  nzMode="horizontal"
  sortablejs
  [sortablejsOptions]="sortableOptions"
  class="app-header__menu header-nav window-switcher__container"
>
  <li
    nz-menu-item
    [nzSelected]="windowId === activeWindowId"
    class="nav-link nav-text window-switcher"
    *ngFor="let windowId of windowIds; let index = index;"
    [contextMenu]="windowTabMenu"
    [contextMenuSubject]="{ windowId: windowId, wTitle: wTitle, index: index }"
    (click)="activeWindowChange.next(windowId)"
    (dblclick)="editWindowNameInput(windowId, wTitle)"
  >
    
    <div
      #wTitle class="window-switcher__input"
      [attr.contenteditable]="windowId === windowNameEditing"
      (blur)="saveWindowName(windowId, wTitle.innerText)"
      (keydown.enter)="saveWindowName(windowId, wTitle.innerText)"
    >{{ windows[windowId].layout.title }}</div>
    <div track-id="close_window_tab" class="window-switcher__close" *ngIf="windowIds.length > 1" (click)="closeWindow(windowId)">&#x00D7;</div>
  </li>
  <li
    nz-menu-item
    [nzSelected]="false"
    class="nav-link nav-text window-switcher window-switcher--new-window"
    (click)="newWindowChange.next($event)"
    *ngIf="windowIds.length < maxWindowCount"
  >
    {{ 'ADD_NEW_WINDOW_TEXT' | translate }}
  </li>
</ul>
<context-menu>
  <ng-template contextMenuItem (execute)="editWindowNameInput($event.item.windowId, $event.item.wTitle)">
    <span class="menu-icon">
      <clr-icon shape="pencil" class="is-solid"></clr-icon>
    </span>
    <span class="menu-text">
      {{ 'EDIT_WINDOW_TEXT' | translate }}
    </span>
  </ng-template>
  <ng-template contextMenuItem (execute)="duplicateWindow($event.item.windowId)">
    <span class="menu-icon">
      <clr-icon shape="clone" class="is-solid"></clr-icon>
    </span>
    <span class="menu-text">
      {{ 'DUPLICATE_WINDOW_TEXT' | translate }}
    </span>
  </ng-template>
  <ng-template contextMenuItem divider="true"></ng-template>
  <ng-template contextMenuItem (execute)="closeWindow($event.item.windowId)">
    <span class="menu-icon">
      <clr-icon shape="circle" class="is-solid"></clr-icon>
    </span>
    <span class="menu-text">
      {{ 'CLOSE_WINDOW_TEXT' | translate }}
    </span>
  </ng-template>
  <ng-template contextMenuItem (execute)="closeWindowsToTheRight($event.item.index)">
    <span class="menu-icon">
      <clr-icon shape="circle" class="is-solid"></clr-icon>
    </span>
    <span class="menu-text">
      {{ 'CLOSE_WINDOWS_TO_THE_RIGHT_TEXT' | translate }}
    </span>
  </ng-template>
  <ng-template contextMenuItem (execute)="closeOtherWindows($event.item.windowId)">
    <span class="menu-icon">
      <clr-icon shape="circle" class="is-solid"></clr-icon>
    </span>
    <span class="menu-text">
      {{ 'CLOSE_OTHER_WINDOWS_TEXT' | translate }}
    </span>
  </ng-template>
  <ng-template contextMenuItem (execute)="reopenClosedTab()">
    <span class="menu-icon">
      <clr-icon shape="circle" class="is-solid"></clr-icon>
    </span>
    <span class="menu-text">
      {{ 'REOPEN_CLOSED_WINDOW_TEXT' | translate }}
    </span>
  </ng-template>
</context-menu>
