<div class="app-window-switcher-container">
  <!--<div class="app-window-switcher active">
    window 1
  </div>-->
  <div class="app-window-switcher" *ngFor="let window of windows" [class.active]="window.windowId === activeWindowId" (click)="activeWindowChange.next(window.windowId)">
    {{ window.layout.title }}
    <div class="app-window-switcher-close" *ngIf="windows.length > 1" (click)="removeWindowChange.next(window.windowId)">&#x00D7;</div>
  </div>
  <div class="app-window-switcher create-new-window" (click)="newWindowChange.next($event)" *ngIf="windows.length < 15">
    +
  </div>
</div>