<clr-modal [clrModalOpen]="showDialog" (clrModalOpenChange)="toggleDialogChange.next($event)">
  <h3 class="modal-title">
    <div class="app-dialog-header">
      <div class="app-dialog-title">{{ 'HISTORY_TEXT' | translate }}</div>
      {{ 'HISTORY_SUB_TEXT' | translate }}
    </div>
  </h3>
  <div class="modal-body">
    <div class="app-dialog-body">
      <div class="history-container">
        <div class="history-item _track_me" *ngFor="let item of historyList; let index = index;" (click)="restoreHistory(index)">
          {{item.query}}
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="app-dialog-footer">
      <button class="app-button active-primary right" (click)="toggleDialogChange.next($event)">{{ 'DONE_BUTTON' | translate }}</button>
    </div>
  </div>
</clr-modal>
