.ant-menu-horizontal > .ant-menu-item,
.ant-menu-horizontal > .ant-menu-submenu {
  top: 0;
}

.ant-layout {
  background: var(--theme-bg-color);
}

.ant-modal-footer {
  @include clearfix;
  border-color: var(--theme-border-color);
}

.ant-modal-header {
  background: var(--theme-bg-color);
  color: var(--theme-font-color);
  border-color: var(--theme-border-color);
}

.ant-modal-close-x,
.ant-modal-close {
  color: var(--theme-font-color);
}

.ant-modal-content {
  background: var(--theme-bg-color);
  color: var(--theme-font-color);
}

.anticon {
  vertical-align: middle;
}

.ant-checkbox-wrapper {
  color: var(--theme-font-color);
}

.ant-collapse {
  background: var(--theme-off-bg-color);
  color: var(--theme-font-color);
  border-color: var(--theme-border-color);

  > .ant-collapse-item {
    border-color: var(--theme-border-color);

    > .ant-collapse-header {
      color: var(--theme-font-color);
    }
  }
}


.ant-collapse-content {
  background: var(--theme-bg-color);
  color: var(--theme-font-color);
  border-color: var(--theme-border-color);
}

.ant-list {
  color: var(--theme-font-color);
}

.ant-list-bordered {
  border-color: var(--theme-border-color);

  .ant-list-item {
    border-color: var(--theme-border-color);
}

}

.ant-dropdown-menu {
  background: var(--theme-bg-color);
  color: var(--theme-font-color);
}

.ant-dropdown-menu-item,
.ant-dropdown-menu-submenu-title {
  background: transparent;
  color: var(--theme-font-color);

  &:hover {
    background: var(--theme-off-bg-color);
  }
}

.ant-dropdown-menu-item-divider,
.ant-dropdown-menu-submenu-title-divider {
  background: var(--theme-border-color);
}

.ant-form-item {
  color: var(--theme-font-color);

  label {
    color: var(--theme-font-color);
  }
}

.ant-input {
  background: var(--theme-off-bg-color);
  border-color: var(--theme-border-color);
  color: var(--theme-font-color);
}

.ant-input-number {
  background: var(--theme-off-bg-color);
  border-color: var(--theme-border-color);
}

.ant-input-number-handler-wrap {
  background: var(--theme-off-bg-color);
  border-color: var(--theme-border-color);
  color: var(--theme-font-color);
}

.ant-input-number-handler-up-inner,
.ant-input-number-handler-down-inner,
.ant-input-number-handler {
  color: var(--theme-font-color);
}

.ant-select-selection {
  background: var(--theme-off-bg-color);
  color: var(--theme-font-color);
  border-color: var(--theme-border-color);
}

.ant-select-dropdown {
  background: var(--theme-off-bg-color);
  color: var(--theme-font-color);
}

.ant-select-arrow {
  color: var(--theme-border-color);
}

.ant-select-dropdown-menu-item {
  color: var(--theme-font-color);
}

.ant-select-dropdown-menu-item:hover:not(.ant-select-dropdown-menu-item-disabled) {
  background: var(--theme-bg-color);
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background: var(--theme-bg-color);
  color: var(--primary-color);
}

.ant-tabs {
  color: var(--theme-font-color);
}

.ant-tabs-bar {
  border-color: var(--theme-border-color);
}

.ant-tooltip-inner {
  background: var(--theme-off-bg-color);
  color: var(--theme-font-color);
}

.ant-tooltip-arrow::before {
  background-color: var(--theme-off-bg-color);
}
