// You can add global styles to this file, and also import other style files

* {
  box-sizing: border-box;
  outline: none;
  // cursor: auto;
}

html {
  font-size: calc(var(--rem-base) * 1px);
}

html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-size: fontsize(var(--body-font-size));
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input {
  color: var(--theme-font-color);
  background: transparent;
}

input[type="text"],
input[type="search"],
input[type="url"] {
  display: block;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", 'Helvetica Neue', Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  &:focus {
    outline: 0;
  }
}

::selection {
  color: var(--theme-bg-color);
  background: var(--theme-font-color);
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}

@mixin clearfix() {
  &::before,
  &::after {
    content: "";
    display: table;
  }

  &::after {
    clear: both;
  }
}

@mixin main-content-col {
  position: relative;
  // padding-left: 0.5rem;
  flex: 1;
}

.hide {
  display: none !important;
}

.left {
  float: left;
}

.right {
  float: right;
}

.text-align-left {
  text-align: left;
}

.text-align-right {
  text-align: right;
}

.anim {
  will-change: transform;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.anim-rotate {
  animation-name: anim-rotate;
}

.spacer--small {
  margin-bottom: 4px;
}

.spacer {
  margin-bottom: 16px;
}

.spacer--large {
  margin-bottom: 32px;
}

@keyframes anim-rotate {
  0% {
    transform: rotate(0deg) translateZ(0);
  }

  100% {
    transform: rotate(359deg) translateZ(0);
  }
}

@mixin show-transition {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s var(--app-easing) 0s, opacity 300ms;
}

@mixin hide-transition {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s var(--app-easing) 300ms, opacity 300ms;
}
