:root {
  --baseline-size: 24;
  --rem-base: var(--baseline-size);
  --body-font-size: 14;

}

$black: #33363b;
$dark-grey: #a6a6a6;
$grey: #eaeaea;
$light-grey: #f0f0f0;
$white: #fff;
$green: #7ebc59;
$blue: #368cbf;
$cerise: #f00faa;
$red: #ed6a5a;
$orange: #edae49;
$yellow: #e4ce44;
$light-red: #cc998d;
$dark-purple: #303965;

$primary-color: $green;
$secondary-color: $blue;

$theme: "light";
$theme-bg-color: $white !default;
$theme-off-bg-color: $light-grey !default;
$theme-font-color: $black !default;
$theme-off-font-color: $dark-grey !default;
$theme-border-color: $grey !default;
$theme-off-border-color: $light-grey !default;

$baseline: 24;
$baseline-px: $baseline * 1px;
$modal-shadow-color: var(--shadow-bg);
$vertical-nav-width: 180px;
$vertical-nav-min-width: 65px;
$vertical-nav-bg-color: var(--theme-bg-color);
$vertical-nav-item-height: 2rem;
$vertical-nav-icon-size: 0.8rem;

$dialog-z-index: 10;

$baseline-size: $baseline-px;
$base-font-size: (14 / $baseline) * 1rem;
