<div class="query-collections-wrapper" [ngClass]="{ 'query-collections-wrapper--close': !showCollections }">
  <div class="query-collections__inner">
    <div class="query-collections__title">Collections</div>
    <div class="query-collections__actions" *ngIf="false">
        <button type="button" class="icon-button">
            <clr-icon shape="import" class="is-solid"></clr-icon>
        </button>
    </div>
    <div class="query-collections__items-wrapper">
      <app-query-collection-item></app-query-collection-item>
      <div class="query-collections__item">
        <div class="query-collections__item-title">David Wallace (CFO)</div>
        <div class="query-collections__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi velit voluptate, delectus possimus corrupti adipisci iusto itaque cum dignissimos sed quae eaque magni harum ratione laborum similique excepturi voluptatibus molestiae?</div>
      </div>
    </div>
  </div>
</div>
