.toast-top-center {
  top: 10px;
}

#toast-container {
  pointer-events: none;
  transition: transform .23s cubic-bezier(.21,1.02,.73,1);

  & > .toast {
    line-height: 1.4;
    box-shadow: none;
    border-radius: 2px;
    background-position: 20px center;
    padding: 15px 15px 15px 60px;
    border-left: 5px solid white;
    width: 100%;
    max-width: 400px;
  }

  .ngx-toastr {
    background-color: var(--theme-bg-color);
    background-size: 16px;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1),0 3px 3px rgba(0,0,0,.05);
    color: var(--theme-font-color);
    line-height: 1.3;
    max-width: 350px;
    pointer-events: auto;
    will-change: transform;
    border-left: 3px solid white;

    &.toast-success {
      border-color: var(--green-color);
    }
    &.toast-error {
      border-color: var(--red-color);
    }
    &.toast-info {
      border-color: var(--blue-color);
    }
    &.toast-warning {
      border-color: var(--orange-color);
    }
  }

  .toast-title {
    line-height: 1.2;
    text-transform: uppercase;
    font-size: fontsize(14);
    letter-spacing: .5px;
    margin-bottom: 3px;
  }

  .toast-close-button {
    font-weight: normal;
    text-shadow: none;
    transition: all .3s ease;
  }

  .toast-message {
    font-size: fontsize(13);
  }
}

nz-alert {
  text-align: center;
}

.alert-action {
  background: transparent;
  border: currentColor 1px solid;
  border-radius: 4px;
}

:root {
  --hot-toast-color: var(--theme-font-color);
  --hot-toast-bg: var(--theme-bg-color);
}

.hot-toast-close-btn {
  &:before {
    content: '\00D7';
    font-size: 1em;
    line-height: 1;
    color: var(--theme-font-color);
  }
}
