app-query-editor {
  transition: all .3s ease;
  display: flex;
  flex-direction: column;
  min-width: 0;
  border-inline-end: 1px solid var(--theme-border-color);
}

.query-editor-container {
  position: relative;
  height: 100%;
  overflow: auto;
  background: var(--theme-bg-color);
  border-radius: 4px;
}

.query-editor__input {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  font-size: fontsize(14);
  border: 0;
  padding: 0;
  resize: none;
}

.query-editor__line-widget {
  font-size: fontsize(10);
  cursor: pointer;
  display: inline-block;
  // color: var(--theme-font-color);
  background: var(--primary-color);
  // background: rgba(var(--rgb-primary), .15);
  color: var(--theme-font-color);
  padding: 4px;
  line-height: 1;
  border-radius: 4px;
  transition: all .3s ease;
  user-select: none;
  margin: 0 4px;

  &:hover {
    background: var(--theme-border-color);
  }
}

.query-editor__autocomplete-item {
  display: flex;
  justify-content: space-between;
}

.query-editor__autocomplete-item__text {
  color: var(--theme-off-font-color);
}

.query-editor__autocomplete-item__type {
  color: var(--orange-color);
}

.query-editor__autocomplete-item__shortcut {
  color: var(--theme-off-font-color);
}

app-query-result {
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.query-result__tabs {
  flex: 1;
}
.query-result__normal-container {
  position: relative;

  .app-query-result-textarea {
    position: absolute;
    top: 40px;
    left: 0;
    height: 100%;
    width: 100%;
  }
}

.query-result-container {
  height: 100%;
  // overflow: auto;
  background: var(--theme-off-bg-color);
  border-radius: 4px;
}

.query-result__normal-container,
.query-result__subscription-container {
  height: 100%;
}

.query-result__subscription-container {
  position: relative;
  overflow: auto;
}

.query-result__none {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  font-size: fontsize(24);
  font-weight: bold;
  color: var(--theme-off-font-color);
}

.query-result__none-subtext {
  font-size: fontsize(16);
  margin-bottom: 10px;
}

.query-result__none-inner {
  width: 400px;
  max-width: 90%;
}

.query-result__none-art-button {
  display: inline-block;
  width: 50px;
  height: 20px;
  // background: darken($theme-off-bg-color, 5%);
  background: var(--theme-bg-color);
  opacity: .8;
  border-radius: 5px;

  &.send {
    background: var(--primary-color);
  }
}

.query-result__top-actions {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 3;
}

.query-result__clear-button {
  background: var(--theme-off-bg-color);
  color: var(--primary-color);
  opacity: .5;
  transition: all .3s ease;
  border: 1px solid var(--primary-color);
  text-transform: uppercase;
  font-size: fontsize(12);
  padding: 3px 10px;
  border-radius: 4px;

  &:hover {
    opacity: 1;
  }
}

.query-result__bottom-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 3;
}

.query-result__download-button {
  background: var(--theme-off-bg-color);
  color: var(--primary-color);
  opacity: .5;
  transition: all .3s ease;
  border: 1px solid var(--primary-color);
  text-transform: uppercase;
  font-size: fontsize(12);
  padding: 3px 10px;
  border-radius: 4px;

  &:hover {
    opacity: 1;
  }
}

.subscription-result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.subscription-result__actions {
  display: flex;
  align-items: center;
  padding: 10px;
  line-height: 1;
}

.subscription-result__actions-left {
  flex: 1 1 50%;
}

.subscription-result__actions-right {
  flex: 1 1 50%;
  text-align: right;
}

.subscription-result__actions-url {
  display: inline-block;
  vertical-align: middle;
  font-size: fontsize(13);
}

.subscription-result__float-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;

  &:empty {
    display: none;
  }
}

.subscription-result__float-action-button {
  background: var(--theme-off-bg-color);
  color: var(--theme-off-font-color);
  opacity: .5;
  transition: all .3s ease;
  border: 1px solid var(--theme-off-font-color);
  text-transform: uppercase;
  font-size: fontsize(12);
  padding: 3px 10px;
  border-radius: 4px;

  &:hover,
  &--active {
    opacity: 1;
  }

  &--active {
    color: var(--primary-color);
    border-color: var(--primary-color);
  }
}

.subscription-result__list-wrapper {
  padding: 0 10px;
  flex: 1;
  overflow: auto;
}

.subscription-result__list-item {
  position: relative;
  font-size: fontsize(12);
  margin-bottom: 10px;
}

.subscription-result__list-item--expanded {
  .subscription-result__list-item-content {
    white-space: pre-wrap;
  }

  .subscription-result__list-item-time {
    position: static;
  }
}

.subscription-result__list-item-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: var(--theme-bg-color);
  padding: 5px 10px;
  border-radius: 3px;
}

.subscription-result__list-item-time {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 10px;
  background: var(--theme-bg-color);
  color: var(--theme-off-font-color);
}

.response-headers__container {
  padding: 10px;
}

.response-headers__notice {
  text-align: center;
  margin: 10px;
  font-size: fontsize(13);
  opacity: .7;
}

.query-result__bottom-pane {
  padding: 5px;
  max-height: 60%;
  display: flex;
  flex-direction: column;
}
.query-result__bottom-pane__title-wrapper {
  display: flex;
}
.query-result__bottom-pane__title {
  text-transform: uppercase;
  padding: 0 15px;
  font-size: fontsize(13);
  font-weight: 700;
  cursor: pointer;

  &--active {
    color: var(--primary-color);
  }
}
.query-result__bottom-pane__panels {
  flex: 1;
  min-height: 0;
}
.query-result__bottom-pane__panel {
  height: 100%;
}

.variables-editor-container {
  display: flex;
  flex-direction: column;
  max-height: 50%;

  &.show-variables {
    min-height: 50%;
  }
}

.variables-editor {
  &--title {
    text-transform: uppercase;
    padding: 0 15px;
    font-size: fontsize(13);
    font-weight: 700;
    cursor: pointer;
  }
  // &-inner {
    // height: 0;
  // }
}

.variables-editor-input-container {
  position: relative;
  overflow: auto;
  flex: 1;
  min-height: 150px;
}

.variables-editor-inner {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.set-variable-textarea {
  position: absolute;
  width: 100%;
  height: 100%;
}

.variables-add-files-button {
  background: none;
  border: 0;
  color: var(--primary-color);
  text-decoration: underline;
}

.variables-files-container {
  padding: 3px 5px;
}

.variables-file-item {
  display: flex;
}

.variables-file-item--warning {
  color: var(--yellow-color);
}

.variables-file-item--invalid {
  color: var(--red-color);
}

.variables-file-item-name-input-wrapper {
  flex: 1;
  padding: 0 5px;
  display: flex;
  align-items: center;
}

.variables-file-item-switch {
  font-size: fontsize(10);
  padding: 3px;
  display: inline-block;
  background: var(--theme-off-bg-color);
  color: var(--theme-off-font-color);
  border: 1px solid var(--theme-border-color);
  margin-right: 5px;
  min-width: 16px;
  height: 16px;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  border-radius: 4px;
  font-family: monospace;
}

.variables-file-item-switch--enabled {
  border: 1px solid var(--primary-color);
}

.variables-file-item-input-wrapper {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.variables-file-item-name-input {
  font-size: fontsize(14);
  padding: 5px 0;
  line-height: 1;
  border: 0;
  border-bottom: 2px solid var(--theme-border-color);
  transition: all .3s ease;

  &:focus {
    border-color: var(--primary-color);
  }
}

.variables-file-item-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.variables-file-item-button {
  height: 30px;
  line-height: 30px;
}

.variables-file-item-input-delete {
  padding: 3px;
  cursor: pointer;

  &:hover {
    color: var(--red-color);
  }
}
