/**
Constraints:

- Needs to be in a relative container.
- Needs to be a direct child of the container to be resized.
*/

app-flex-resizer {
  --resizer-width: 6px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--theme-font-color);
  width: var(--resizer-width);
  height: 60px;
  border-radius: 4px;
  transition: all .3s ease;
  opacity: .5;
  cursor: col-resize;
  z-index: 5;

  &.is-right {
    right: calc(var(--resizer-width) * -1);
    left: auto;
  }

  &:hover {
    opacity: .7;
  }
}
