.headers-editor__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.headers-editor__list-item {
  display: flex;
  align-items: center;
  flex: 1;
}

.headers-editor__list-item--disabled {
  opacity: 0.5;
}
