.window-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 50%;
  background: rgba(var(--rgb-theme-bg), .8);
  z-index: 50;
  padding: 10px;
  transform: translateX(-50%);
  min-width: 200px;
  border-radius: 0 0 4px 4px;

  .loader-img {
    vertical-align: middle;
  }
}

.window-loader__content {
  background: linear-gradient(-45deg, var(--primary-color), var(--secondary-color));
  background-size: 200% 200%;
  background-clip: text;
  color: transparent;
  position: relative;
  // animation: bg-gradient 5s ease infinite;
  transition-duration: .3s;
  will-change: background;
}

@keyframes bg-gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
