.tooltip-content {
  &.ngxp__container {
    background: var(--theme-bg-color);
    color: var(--theme-font-color);
    border-color: var(--theme-border-color);
    padding: 5px 10px;
    z-index: 5;
    white-space: normal;
    max-width: 300px;
  }
}
