.doc-viewer-item-directive-name {
  font-weight: 600;
  color: var(--primary-color);
}

.doc-viewer-item-locations {
  font-style: italic;
  color: var(--text-secondary-color);
}

.doc-viewer-item-repeatable-text {
  font-style: italic;
  color: var(--text-secondary-color);
}
