<div class="doc-viewer-section">
  <!--Field name and description-->
  <div class="doc-viewer-item doc-viewer-item-field">
    <div class="doc-viewer-item-query-inner">
      {{ data.name }}
    </div>
    <div class="doc-viewer-item-query-description">
      {{ data.description }}
    </div>
  </div>
</div>

<!--Field arguments-->
<div class="doc-viewer-section doc-viewer-arguments" *ngIf="data.args && data.args.length">
  <div class="doc-viewer-section-title">{{ 'DOCS_ARGUMENTS_TEXT' | translate }}</div>
  <div class="doc-viewer-item doc-viewer-item-query" *ngFor="let arg of data.args">
    <div class="doc-viewer-item-query-inner">
      <span class="no-link-link"
       (click)="goToType(arg.type.inspect())"
      >
        {{ arg.name }}
        <span class="doc-viewer-item-value" *ngIf="arg.defaultValue && arg.defaultValue.toString">= {{ arg.defaultValue }}</span>
      </span>
      <span class="doc-viewer-item-type doc-viewer-item-query-type no-link-link"
       (click)="goToType(arg.type.inspect())"
      >
        {{ arg.type.inspect() }}
      </span>
    </div>
    <div class="doc-viewer-item-query-description">
      {{ arg.description }}
    </div>
  </div>
</div>
<!--Field type-->
<div class="doc-viewer-section-title">{{ 'DOCS_TYPE_TEXT' | translate }}</div>
<ng-container *ngIf="gqlSchema && data && gqlSchema.getType(cleanName(data.type.inspect()))">
  <app-doc-viewer-type
    [data]="gqlSchema.getType(cleanName(data.type.inspect()))"
    [gqlSchema]="gqlSchema"
    (goToFieldChange)="goToField($event.name, $event.parentType)"
    (goToTypeChange)="goToType($event.name)"
    (addToEditorChange)="addToEditor($event)"
  ></app-doc-viewer-type>
</ng-container>
