<div class="doc-viewer-section">
  <div class="doc-viewer-item doc-viewer-item-field">
    <div class="doc-viewer-item-query-inner">
      {{ queryData.name }}
    </div>
    <div class="doc-viewer-item-query-description">
      {{ queryData.description }}
    </div>
  </div>
</div>
<div class="doc-viewer-section doc-viewer-arguments">
  <div class="doc-viewer-section-title">Arguments</div>
  <div class="doc-viewer-item doc-viewer-item-query" *ngFor="let arg of queryData.args">
    <div class="doc-viewer-item-query-inner">
      <a href="#">{{ arg.name }}</a>
      <a href="#" class="doc-viewer-item-type doc-viewer-item-query-type">{{ arg.typeValue }}</a>
    </div>
    <div class="doc-viewer-item-query-description">
      {{ arg.description }}
    </div>
  </div>
</div>
<div class="doc-viewer-section doc-viewer-fields">
  <div class="doc-viewer-section-title">Fields</div>
  <div class="doc-viewer-item doc-viewer-item-query" *ngFor="let item of objToArr(queryData.type._fields)">
    <div class="doc-viewer-item-query-inner">
      <a href="#">{{ item.name }}</a>
      <a href="#" class="doc-viewer-item-type doc-viewer-item-query-type">{{ item.type.inspect() }}</a>
    </div>
    <div class="doc-viewer-item-query-description">
      {{ item.description }}
    </div>
  </div>
</div>