<nz-modal
  [nzVisible]="showVariableDialog"
  (nzVisibleChange)="toggleVariableDialog.next($event)"
  [nzTitle]="modalTitle"
  [nzContent]="modalContent"
  [nzFooter]="modalFooter"
  (nzOnCancel)="toggleVariableDialog.next()"
>
  <ng-template #modalTitle>
    <div class="app-dialog-header">
      <div class="app-dialog-title">{{ 'VARIABLES_TEXT' | translate }}</div>
      {{ 'SET_VARIABLES_DIALOG_SUBTEXT' | translate }}
    </div>
  </ng-template>

  <ng-template #modalContent>
    <div class="app-dialog-body">
      <app-variables-editor
        [variables]="variables"
        (variablesChange)="variablesChange.emit($event)"
      ></app-variables-editor>
    </div>
  </ng-template>

  <ng-template #modalFooter>
    <div class="app-dialog-footer">
      <button class="app-button active-primary right" track-id="close_set_variables_dialog" (click)="toggleVariableDialog.next($event)">{{ 'SAVE_BUTTON' | translate }}</button>
    </div>
  </ng-template>
</nz-modal>
