<clr-modal [clrModalOpen]="showVariableDialog" (clrModalOpenChange)="toggleVariableDialog.next()">
  <h3 class="modal-title">
    <div class="app-dialog-header">
      <div class="app-dialog-title">Variables</div>
      Add, edit and remove variables in your request
    </div>
  </h3>
  <div class="modal-body">
    <div class="app-dialog-body">
      <codemirror
        #editor
        class="set-variable-textarea"
        [config]="variableEditorConfig"
        [ngModel]="variables"
        (ngModelChange)="variablesChange.emit($event)"
      ></codemirror>
    </div>
  </div>
  <div class="modal-footer">
    <div class="app-dialog-footer">
      <button class="app-button active-primary right" (click)="toggleVariableDialog.next()">Save</button>
    </div>
  </div>
</clr-modal>
