<div class="url-box">
  <clr-dropdown>
    <button type="button" class="url-box__button btn btn-outline-primary url-box__button--method" clrDropdownTrigger [value]="httpVerb" track-id="http_verb">
      {{ httpVerb }}
      &#9660;
      <!-- &#8964; -->
      <!-- <clr-icon shape="angle down"></clr-icon> -->
    </button>
    <clr-dropdown-menu *clrIfOpen>
      <button track-id="http_verb_method" *ngFor="let method of methods" type="button" clrDropdownItem [value]="method" (click)="setVerb(method)">{{method}}</button>
    </clr-dropdown-menu>
  </clr-dropdown>
  <div class="url-box__input-container">
    <app-fancy-input
      class="url-box__input"
      track-id="set_url"
      placholder="Enter URL"
      (blur)="setApiUrlFancy()"
      (submit)="setApiUrlFancy()"
      [(ngModel)]="apiUrl"
    ></app-fancy-input>
    <input track-id="set_url" #urlInput type="text" class="url-box__input" placeholder="Enter URL" (blur)="setApiUrl()" (keyup.enter)="setApiUrl()"
         [value]="apiUrl" *ngIf="false">
    <div class="url-box__input-actions">
        <clr-dropdown>
          <button clrDropdownTrigger
            type="button"
            class="url-box__input-btn"
          >
            <clr-icon shape="floppy"></clr-icon>
          </button>
          <clr-dropdown-menu clrPosition="bottom-right" *clrIfOpen>
            <button type="button" clrDropdownItem (click)="addToCollectionChange.next()" track-id="add_to_collection">{{ 'SAVE_TO_COLLECTION_BUTTON' | translate }}</button>
            <button type="button" clrDropdownItem (click)="exportWindowChange.next()" track-id="export_window">{{ 'EXPORT_WINDOW_TEXT' | translate }}</button>
          </clr-dropdown-menu>
        </clr-dropdown>
      <button
        type="button"
        class="url-box__input-btn"
        (click)="reloadDocsChange.next()"
        track-id="reload_docs"
        [popper]="'RELOAD_DOCS_BUTTON' | translate"
        [popperPlacement]="'bottom'"
      >
        <clr-icon shape="refresh"></clr-icon>
      </button>
      <button type="button" class="url-box__input-btn" (click)="toggleDocsChange.next()" [ngClass]="{'url-box__input-btn--active': showDocs}" track-id="show_docs">
        {{ 'DOCS_TEXT' | translate }}
      </button>
    </div>
  </div>
  <button
    class="app-button url-box__button url-box__button--send active-primary"
    (click)="!isSubscribed && this.sendRequest.next()"
    [ngClass]="{ 'url-box__button--disabled': isSubscribed || isLoading }"
    track-id="set_request"
    *ngIf="queryOperations.length < 2"
  >
    <span *ngIf="isLoading">{{ 'LOADING_INDICATOR_TEXT' | translate }}</span>
    <span *ngIf="!isLoading">{{ 'SEND_REQUEST_BUTTON' | translate }}</span>
  </button>
  <clr-dropdown [clrCloseMenuOnItemClick]="true" *ngIf="queryOperations.length > 1">
    <button
      class="btn app-button url-box__button url-box__button--send active-primary"
      [ngClass]="{ 'url-box__button--disabled': isSubscribed }"
      track-id="send_request"
      clrDropdownTrigger>
      <span *ngIf="isLoading">{{ 'LOADING_INDICATOR_TEXT' | translate }}</span>
      <span *ngIf="!isLoading">{{ 'SEND_REQUEST_BUTTON' | translate }}</span>
      <span *ngIf="selectedOperation">({{ selectedOperation }})</span>
      <clr-icon shape="caret down"></clr-icon>
    </button>
    <clr-dropdown-menu *clrIfOpen>
      <button type="button" clrDropdownItem *ngFor="let operation of queryOperations" (click)="selectedOperationChange.next(operation.name.value)">{{ operation.name.value }}</button>
    </clr-dropdown-menu>
  </clr-dropdown>
</div>
