<div class="wrapper">
  <div class="app-loader" *ngIf="isLoading">
    <div class="app-loader-content">
      <img src="/assets/img/logo.svg" alt="" class="anim anim-rotate">
      Loading...
    </div>
  </div>
  <header class="app-header">
    <div class="app-header-inner">
      <div class="app-logo">
        <img src="/assets/img/logo.svg" alt="">
      </div>
      <div class="app-url-container">
        <input type="text" class="app-url-input" placeholder="Enter URL"
          [value]="apiUrl" (input)="apiUrl=$event.target.value"
        >
      </div>
      <div class="app-url-actions">
        <button class="app-url-button"
          (click)="setApiUrl($event)"
        >Set URL</button>
      </div>
    </div>
  </header>
  <main class="app-main-section">
    <app-query-editor 
      (queryChange)="updateQuery($event)"
      (sendRequest)="sendRequest()"
      (toggleHeaderDialog)="toggleHeader()"
      [initialQuery]="initialQuery"
      [showResult]="showResult"
    ></app-query-editor>
    <app-query-result [queryResult]="queryResult"></app-query-result>
  </main>
  <div class="dialogs" [ngClass]="{ 'hide': !showHeaderDialog }" >
    <div class="app-dialog set-header-dialog">
      <div class="app-dialog-header">
        <div class="app-dialog-title">Headers</div>
        Add, edit and remove headers in your request
      </div>
      <div class="app-dialog-body">
        <div class="set-header-input-container" *ngFor="let header of headers; let i = index">
          <div class="set-header-input-column">
            <input type="text" class="set-header-input" placeholder="Header key" value="{{header.key}}" (input)="headerKeyChange($event, i)">
          </div>
          <div class="set-header-input-column">
            <input type="text" class="set-header-input" placeholder="Header value" value="{{header.value}}" (input)="headerValueChange($event, i)">
          </div>
        </div>
      </div>
      <div class="app-dialog-footer">
        <button class="app-button active-grey left" (click)="addHeader()">Add header</button>
        <button class="app-button active-primary right">Save</button>
      </div>
    </div>
    <div class="app-dialog-overlay" (click)="toggleHeader()"></div>
  </div>
</div>