@import 'variables';
@import 'mixins';
@import 'typography';

//Basic styling
* {
  outline: none;
}

$hero-height: 700px;

.action-btn-group {
  padding: 10px;
  text-align: center;
}

//styles for the landing page
.ns-landing {

  .hero{
    height: auto;
    width: 100%;
    background-image: url('../assets/img/hero_bg.png');
    background-position: center;
    background-color: $primary-color;
    @media #{$breakpoint-medium} {
      height: $hero-height;
    }
    .wrapper, .row{
      height: 100%;
    }
  }

  .btn {
    @extend %button;
    margin-top: 20px;
    font-size: 14px;
  }
  .hero-cta{
    position: relative;
    height: inherit;

    &--title {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.1;
    }

    &--description{
      margin-top: 10px;
    }

    &--content{
      color: $light;
      padding: 100px 0;
      text-align: center;
    }

    &--product {
      margin: 0;
      overflow: hidden;
      border-radius: 5px;
      box-shadow: 0 0 25px -5px rgba(0, 0, 0, .1);
      @media #{$breakpoint-medium} {
        margin: 30px 0;
      }
    }

  }

  .features{
    .features-list {
      display: block;
      flex-wrap: wrap;
      padding: 50px 0;
      text-align: center;
      justify-content: center;
      @media #{$breakpoint-medium} {
        display: flex;
      }
      &--item{
        width: 100%;
        list-style: none;
        position: relative;
        padding: 30px 20px 20px;
        margin-bottom: 50px;
        @media #{$breakpoint-medium} {
          width: 33.33%;
        }
        &:before{
          content: '';
          display: block;
          position: absolute;
          left: 50%;
          top: 0;
          transform: translateX(-50%);
          height: 20px;
          width: 20px;
          border-radius: 3px;
          background: $primary-color;
        }
      }

      &--item-title{
        font-weight: 600;
        font-size: 20px;
        margin-bottom: 20px;
      }
    }
  }

  .releases {
    background: $dark;
    padding: 50px 0px;
    color: $light;
    text-align: center;
    .heading{
      padding: 10px 0px;
      margin-bottom: 20px;
      font-size: 30px;
    }
    .releases--latest-version {
      display: block;
      font-size: 16px;
      font-weight: normal;
    }

    .platform {
      position: relative;
      &--unavailable{
        opacity: .4;
      }

      &--name{
        text-transform: capitalize;
      }

      &--extra {
        position: absolute;
        text-align: center;
        left: 0;
        right: 0;
        bottom: 0;
        font-size: 14px;
        opacity: .5;
      }
    }
  }
}

.ns-updated {
  min-height: 100vh;
  background-image: url('../assets/img/hero_bg.png');
  .logo-container {
    text-align: center;
    padding: 30px;
    margin-bottom: 20px;
  }
  .logo {
    max-width: 150px;
  }
  .inner-container {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    ul {
      margin-left: 30px;
    }
    li {
      list-style-type: square;
    }
  }
  .version {
    font-size: 32px;
    margin-bottom: 10px;;
  }
  .heading {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .subheading {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .changelog {
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    background: rgba($dark, .1);
    border-radius: 5px;
  }
  .changelog-btn {
    @extend %button;
    color: $light;
    background: $dark;
    margin-bottom: 20px;
  }
}
