@import 'variables_basic';
@import 'mixins_basic';
@import 'typography_basic';

//Basic styling
* {
  outline: none;
}

$hero-height: 700px;

.btn {
  @extend %button;
  margin-top: 20px;
  font-size: 14px;
}
.button {
  display: inline-block;
  border: 3px solid transparent;
  border-radius: 10px;
  background: rgba($primary-color, .25);
  color: $primary-color;
  padding: 10px 30px;
  cursor: pointer;
  transition: all .3s ease;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;

  &:hover {
    text-decoration: none;
    border-color: $primary-color;
    box-shadow: 10px 10px 0 rgba($primary-color, .25);
    // box-shadow: 0 0 15px rgba(255, 255, 255, .5);
  }

  &--primary {
    color: white;
    background: $primary-color;
  }

  & ~ .button {
    margin-left: 10px;
  }
}

.action-btn-group {
  padding: 10px;
  text-align: center;
  margin-bottom: 10px;
}

//styles for the landing page
.ns-landing {

  .hero {
    height: auto;
    width: 100%;
    // background-image: url('../assets/img/hero_bg.png');
    // background-position: center;
    // background-color: $primary-color;
    background: $dark;
    @media #{$breakpoint-medium} {
      height: $hero-height;
    }

    .wrapper, .row {
      height: 100%;
    }
  }

  .hero-cta {
    position: relative;
    height: inherit;

    &--title {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.3;
      margin-bottom: 10px;
    }

    &--description {
      font-size: 22px;
      margin-bottom: 20px;
    }

    &--content {
      margin: 0 auto;
      max-width: 650px;
      color: $light;
      padding: 100px 0 30px;
      text-align: center;
    }

    &--product {
      margin: 0;
      overflow: hidden;
      border-radius: 5px;
      // box-shadow: 0 0 25px -5px rgba(0, 0, 0, .1);
      box-shadow: 10px 10px rgba(255, 255, 255, .25);
      font-size: 0;
      @media #{$breakpoint-medium} {
        margin: 30px 0;
      }
    }

  }
}

.ns-updated {
  min-height: 100vh;
  background-image: url('../assets/img/hero_bg.png');
  .inner-container {
    margin: 0 auto;
    max-width: 700px;
    text-align: center;
    ul {
      margin-left: 30px;
    }
    li {
      list-style-type: square;
    }
  }
  .version {
    font-size: 32px;
    margin-bottom: 10px;;
  }
  .heading {
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
  }
  .subheading {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .changelog {
    padding: 20px;
    margin-bottom: 20px;
    text-align: left;
    background: rgba($dark, .1);
    border-radius: 5px;
  }
  .changelog-btn {
    @extend %button;
    color: $light;
    background: $dark;
    margin-bottom: 20px;
  }
}

.logo-container {
  text-align: center;
  padding: 30px;
  margin-bottom: 20px;
  .logo {
    max-width: 150px;
  }
}

.features{
  .features-list {
    display: block;
    flex-wrap: wrap;
    padding: 50px 0;
    text-align: center;
    justify-content: center;
    @media #{$breakpoint-medium} {
      display: flex;
    }
    &--item{
      width: 100%;
      list-style: none;
      position: relative;
      padding: 30px 20px 20px;
      margin-bottom: 50px;
      @media #{$breakpoint-medium} {
        width: 33.33%;
      }
      &:before{
        content: '';
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        transform: translateX(-50%);
        height: 20px;
        width: 20px;
        border-radius: 3px;
        background: $primary-color;
      }
    }

    &--item-title{
      font-weight: 600;
      font-size: 20px;
      margin-bottom: 20px;
    }
  }
}

.releases {
  background: $dark;
  padding: 50px 0;
  color: $light;
  text-align: center;

  .heading {
    padding: 10px 0px;
    margin-bottom: 20px;
    font-size: 30px;
  }

  .releases--latest-version {
    display: block;
    font-size: 16px;
    font-weight: normal;
  }

  .platforms {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 50px;
    margin-bottom: 30px;

    @media #{$breakpoint-medium} {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .platform-item {
    position: relative;
    transition: all .3s ease;
    border-radius: 10px;
    padding: 20px;
    border: 3px solid transparent;

    &:hover {
      border-color: $primary-color;
      box-shadow: 10px 10px rgba($primary-color, .25);
    }

    &__link {
      text-decoration: none;
    }

    &__unavailable {
      opacity: .4;
    }

    &__name {
      text-transform: capitalize;
    }

    &__extra {
      text-align: center;
      font-size: 14px;
      opacity: .5;
    }
  }
}

.learn-more-section {
  background-image: url('../assets/img/hero_bg.png');
  background-position: center;
  background-color: $primary-color;
}

.video-wrapper {
  margin: 0 auto;
  max-width: 700px;
  .video-wrapper-inner {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.oc-image-wrapper {
  margin: 20px 0;
}

.feature-highlights {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 20px;
  margin-bottom: 30px;

  @media #{$breakpoint-medium} {
    grid-template-columns: repeat(3, 1fr);
  }
}

.feature-highlight__item {
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 10px 10px rgba(255, 255, 255, .25);
}

.feature-highlight__item-title {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.feature-highlight__view-all-wrapper {
  text-align: center;
  color: white;
  margin-bottom: 30px;
}
