@import 'variables';
@import 'mixins';
@import 'typography';

//Basic styling
* {
  outline: none;
}

$hero-height: 500px;

//styles for the landing page
.ns-landing {

  .hero{
    height: auto;
    width: 100%;
    background-image: url('../assets/img/hero_bg.png');
    background-position: center;
    background-color: $primary-color;
    @media #{$breakpoint-medium} {
      height: $hero-height;
    }
    .wrapper, .row{
      height: 100%;
    }
  }

  .hero-cta{
    position: relative;
    height: inherit;

    &--title {
      font-size: 48px;
      font-weight: 700;
      line-height: 1.1;
    }

    &--description{
      margin-top: 10px;
    }

    &--content{
      color: $light;
      padding: 100px 0;
    }

    &--product {
      margin: 0;
      overflow: hidden;
      border-radius: 5px;
      @media #{$breakpoint-medium} {
        margin: 70px 0;
      }
    }

    .btn {
       @extend %button;
       margin-top: 20px;
       font-size: 14px;
    }
  }

  .features{
    .features-list {
      padding: 50px 0;
      &--item{
        list-style: none;
        position: relative;
        padding-left: 30px;
        margin: 20px;
        &:before{
          content: '';
          display: block;
          position: absolute;
          left: 0px;
          top: 5px;
          height: 15px;
          width: 15px;
          background: $primary-color;
        }
      }

      &--item-title{
        font-weight: 600;
        font-size: 20px;
      }
    }
  }

  .releases {
    background: $dark;
    padding: 50px 0px;
    color: $light;
    text-align: center;
    .heading{
      text-transform: capitalize;
      padding: 10px 0px;
      margin-bottom: 20px;
      font-size: 30px;
    }

    .platform {
      &--unavailable{
        opacity: .4;
      }

      &--name{
        text-transform: capitalize;
      }
    }
  }
}
