$primary-color: #7EBC59;
$light: #FFFFFF;
$dark: #33363B;
$font-style: 'DM Sans', 'Avenir', 'Helvetica Neue', 'Open Sans', sans-serif;
$font-color: $dark;
$link-color: #425469;
$link-hover-color: $primary-color;

// grid variables
$grid-columns: 12;
$grid-max-width: 65em;


// breakpoints
$breakpoint-small: "only screen and (min-width: 20em)";
$breakpoint-medium: "only screen and (min-width: 50em)";
