<div class="app-doc-viewer">
  <div class="doc-viewer-header">
    <div class="doc-viewer-breadcrumbs-container">
      <ul class="doc-viewer-breadcrumbs">
        <li><span class="no-link-link">Home</span></li>
        <li><span class="no-link-link">Queries</span></li>
        <li><span class="no-link-link">search</span></li>
      </ul>
    </div>
  </div>
  <div class="doc-viewer-items">
    <div [ngSwitch]="currentDocView.section">
      <ng-container *ngSwitchCase="'rootTypes'">
        <div class="doc-viewer-item" *ngFor="let item of docsData.rootTypes">
          <span class="no-link-link" (click)="goToDocItem({ section: item.key })">{{ item.name }}</span>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'queries'">
        <app-doc-viewer-item-queries
          [queries]="docsData.queries"
        ></app-doc-viewer-item-queries>
      </ng-container>
      <ng-container *ngSwitchCase="'mutations'">
        <app-doc-viewer-item-queries
          [queries]="docsData.mutations"
        ></app-doc-viewer-item-queries>
      </ng-container>
      <ng-container *ngSwitchCase="'queryDetail'">
        <app-doc-viewer-item-query-details
          [queryData]="docsData[currentDocView.parentName][currentDocView.itemName]"
        ></app-doc-viewer-item-query-details>
      </ng-container>
    </div>
  </div>
</div>