<div class="app-doc-viewer">
  <div class="doc-viewer-header">
    <span class="doc-viewer-close" (click)="toggleResult.next()">&times;</span>
    <div class="doc-viewer-breadcrumbs-container">
      <ul class="doc-viewer-breadcrumbs" [ngSwitch]="currentDocView.section">
        <li><span class="no-link-link" (click)="goToDocItem({ section: 'rootTypes' })">Home</span></li>
        <li *ngSwitchCase="'queries' || 'queryDetail'"><span class="no-link-link" (click)="goToDocItem({ section: 'queries' })">Queries</span></li>
        <li *ngSwitchCase="'mutations' || 'queryDetail'"><span class="no-link-link" (click)="goToDocItem({ section: 'mutations' })">Mutations</span></li>
        <li *ngSwitchCase="'queryDetail'"><span class="no-link-link">{{ currentDocView.itemName }}</span></li>
      </ul>
    </div>
  </div>
  <div class="doc-viewer-items">
    <div [ngSwitch]="currentDocView.section">
      <ng-container *ngSwitchCase="'rootTypes'">
        <div class="doc-viewer-item" *ngFor="let item of docsData.rootTypes">
          <span class="no-link-link" (click)="goToDocItem({ section: item.key })">{{ item.name }}</span>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'queries'">
        <app-doc-viewer-item-queries
          [queries]="docsData.queries"
          (goToDocItemChange)="goToDocItem($event)"
        ></app-doc-viewer-item-queries>
      </ng-container>
      <ng-container *ngSwitchCase="'mutations'">
        <app-doc-viewer-item-queries
          [queries]="docsData.mutations"
          (goToDocItemChange)="goToDocItem($event)"
        ></app-doc-viewer-item-queries>
      </ng-container>
      <ng-container *ngSwitchCase="'queryDetail'">
        <app-doc-viewer-item-query-details
          [queryData]="docsData[currentDocView.parentName][currentDocView.itemName]"
        ></app-doc-viewer-item-query-details>
      </ng-container>
    </div>
  </div>
</div>