<div class="app-actions-container">
    <button class="app-button active-primary" (click)="this.sendRequest.next()">
        <span>Send Request</span>
    </button>
    <button class="app-button" (click)="this.prettifyCode()">
        Prettify
    </button>
    <button class="app-button" (click)="this.toggleHeaderDialog.next()">Set headers</button>
    <button class="app-button" (click)="this.toggleVariableDialog.next()">Set Variables</button>
    <div class="actions-right right">
        <button class="app-button" (click)="toggleResult.next()" [ngClass]="{'active-grey': !showResult}">Show docs</button>
    </div>
</div>