/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$primaryColor = #7EBC59;
$primary-color = #7EBC59;
$light = #FFFFFF;
$dark = #33363B;
$fontStyle = 'DM Sans', 'Avenir', 'Helvetica Neue', 'Open Sans', sans-serif;
$fontColor = $dark;
$linkColor = #425469;
$linkHoverColor = $primaryColor;

$accentColor = $primaryColor
$textColor = $dark
$borderColor = #eaecef
$codeBgColor = #282c34
// -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif