<clr-modal [clrModalOpen]="settings?.isShown" (clrModalOpenChange)="toggleDialogChange.next($event)">
  <h3 class="modal-title">
    <div class="app-dialog-header">
      <div class="app-dialog-title">{{ 'SETTINGS_TEXT' | translate }}</div>
      {{ 'SETTINGS_SUB_TEXT' | translate }}
    </div>
  </h3>
  <div class="modal-body">
    <div class="app-dialog-body">
      <div class="app-dialog-section">
        <label>{{ 'SETTINGS_THEME_TEXT' | translate }}</label>
        <select class="dialog-select" (change)="onSelectTheme($event.target.value)">
          <option *ngFor="let theme of themes" value="{{ theme }}" [selected]="theme === settings?.theme">
            {{ theme | titlecase }}
          </option>
        </select>
      </div>

      <div class="app-dialog-section">
        <label>{{ 'SETTINGS_LANGUAGE_TEXT' | translate }}</label>
        <select class="dialog-select" (change)="onSelectLanguage($event.target.value)">
          <option *ngFor="let language of languages" value="{{ language[0] }}" [selected]="language[0] === settings?.language">
            {{ language[1] | titlecase }}
          </option>
        </select>
      </div>

      <div class="app-dialog-section">
        <label>{{ 'SETTINGS_ADD_QUERY_DEPTH_LIMIT_TEXT' | translate }} <small>(Recommended: 3)</small></label>
        <input aria-label="{{ 'SETTINGS_ADD_QUERY_DEPTH_LIMIT_TEXT' | translate }}" type="number" class="dialog-input" [value]="settings?.addQueryDepthLimit" (change)="onChangeAddQueryDepthLimit($event.target.value)" />
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <div class="app-dialog-footer">
      <button track-id="save_settings" class="app-button active-primary right" (click)="toggleDialogChange.next(false)">{{ 'SAVE_BUTTON' | translate }}</button>
    </div>
  </div>
</clr-modal>
