<div class="query-collections__item">
  <div class="query-collections__item-details-wrapper">
    <div class="query-collections__item-details" (click)="toggleContent()">
      <div class="query-collections__item-title">
        <span class="query-title-icon" *ngIf="showContent"><clr-icon shape="folder-open"></clr-icon></span>
        <span class="query-title-icon" *ngIf="!showContent"><clr-icon shape="folder"></clr-icon></span>
        <span>{{ collection.title }}</span></div>
      <div class="query-collections__item-meta">{{ 'NUMBER_OF_QUERIES' | translate }} {{ getQueryCount(collection) }}</div>
      <!-- <div class="query-collections__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi velit voluptate, delectus possimus corrupti adipisci iusto itaque cum dignissimos sed quae eaque magni harum ratione laborum similique excepturi voluptatibus molestiae?</div> -->
    </div>
    <div class="query-collections__item-right">
      <span class="query-collections__item-icon">
        <button
          nz-dropdown
          nzTrigger="click"
          [nzDropdownMenu]="collectionItemMenu"
          type="button"
          class="query-collections__item-icon__button"
        >
          <clr-icon shape="ellipsis-horizontal"></clr-icon>
        </button>
      </span>
      <nz-dropdown-menu #collectionItemMenu="nzDropdownMenu">
        <ul nz-menu>
          <li
            nz-menu-item
            (click)="deleteCollection()"
          >
            {{ 'COLLECTIONS_MENU_DELETE' | translate }}
          </li>
          <li
            nz-menu-item
            (click)="editCollection()"
          >
            {{ 'COLLECTIONS_MENU_EDIT' | translate }}
          </li>
          <li
            nz-menu-item
            (click)="exportCollection()"
          >
            {{ 'COLLECTIONS_MENU_EXPORT' | translate }}
          </li>
          <li nz-submenu [nzTitle]="'COLLECTIONS_SORT_BY' | translate">
            <ul>
              <li nz-menu-item (click)="setQueriesSortBy('a-z')">{{ 'COLLECTIONS_SORT_BY_A_Z' | translate }}</li>
              <li nz-menu-item (click)="setQueriesSortBy('z-a')">{{ 'COLLECTIONS_SORT_BY_Z_A' | translate }}</li>
              <li nz-menu-item (click)="setQueriesSortBy('newest')">{{ 'COLLECTIONS_SORT_BY_NEWEST' | translate }}</li>
              <li nz-menu-item (click)="setQueriesSortBy('oldest')">{{ 'COLLECTIONS_SORT_BY_OLDEST' | translate }}</li>
            </ul>
          </li>
        </ul>
      </nz-dropdown-menu>
    </div>
  </div>
  <div class="query-collections__item-content-wrapper" [ngClass]="{ 'query-collections__item-content--hidden': !showContent }">
    <div class="query-collections__item-nested">
      <app-query-collection-item
        *ngFor="let subcollection of collection.collections; trackBy:trackById;"
        [collection]="subcollection"
        (selectQueryChange)="selectQueryChange.next($event)"
        (deleteQueryChange)="deleteQueryChange.next($event)"
        (deleteCollectionChange)="deleteCollectionChange.next($event)"
        (editCollectionChange)="editCollectionChange.next($event)"
        (exportCollectionChange)="exportCollectionChange.next($event)"
      ></app-query-collection-item>
    </div>
    <div class="query-collections__item-queries">
      <div class="query-collections__item-queries-item" *ngFor="let query of sortedCollectionQueries(); trackBy:trackById;">
        <span
          class="query-collections__item-queries-item-title"
          (click)="selectQueryChange.next({ query: query, collectionId: collection.id, windowIdInCollection: query.id })"
        >
          <span class="query-title-icon"><clr-icon shape="file"></clr-icon></span>
          {{ query.windowName }}
          <span
            *ngIf="!query.id"
            class="query-title-icon"
            [popper]="deprecatedCollectionQuery"
            [popperPlacement]="'bottom'"
          >
            <clr-icon shape="exclamation-triangle" class="is-solid"></clr-icon>
          </span>
          <popper-content #deprecatedCollectionQuery>
              {{ 'COLLECTIONS_DEPRECATED_QUERY_WARNING' | translate }}
              <a target="_blank" href="https://altair.sirmuel.design/docs/tips/deprecated-collection-queries">{{ 'LEARN_MORE_TEXT' | translate }}</a>
          </popper-content>
        </span>
        <span class="query-collections__item-queries-item-right">
          <span class="query-collections__item-queries-item-icon">
            <button
              type="button"
              nz-dropdown
              nzTrigger="click"
              [nzDropdownMenu]="collectionQueryItemMenu"
              class="query-collections__item-icon__button"
            >
              <clr-icon shape="ellipsis-horizontal"></clr-icon>
            </button>
          </span>
          <nz-dropdown-menu #collectionQueryItemMenu="nzDropdownMenu">
            <ul nz-menu>
              <li
                nz-menu-item
                (click)="deleteQuery(query)"
              >
                {{ 'COLLECTIONS_QUERY_MENU_DELETE' | translate }}
              </li>
            </ul>
          </nz-dropdown-menu>
        </span>
      </div>
    </div>
  </div>
</div>
