<div class="query-collections__item">
  <div class="query-collections__item-details-wrapper">
    <div class="query-collections__item-details" (click)="toggleContent()">
      <div class="query-collections__item-title">
        <span class="query-title-icon" *ngIf="showContent"><clr-icon shape="folder-open"></clr-icon></span>
        <span class="query-title-icon" *ngIf="!showContent"><clr-icon shape="folder"></clr-icon></span>
        <span>{{ collection.title }}</span></div>
      <div class="query-collections__item-meta">{{ 'NUMBER_OF_QUERIES' | translate }} {{ getQueryCount(collection) }}</div>
      <!-- <div class="query-collections__item-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi velit voluptate, delectus possimus corrupti adipisci iusto itaque cum dignissimos sed quae eaque magni harum ratione laborum similique excepturi voluptatibus molestiae?</div> -->
    </div>
    <div class="query-collections__item-right">
      <clr-dropdown>
        <span class="query-collections__item-icon">
          <button type="button" clrDropdownTrigger>
            <clr-icon shape="ellipsis-horizontal"></clr-icon>
          </button>
        </span>
        <clr-dropdown-menu *clrIfOpen>
          <button type="button" clrDropdownItem (click)="deleteCollection()" track-id="delete_collection">
            {{ 'COLLECTIONS_MENU_DELETE' | translate }}
          </button>
          <button type="button" clrDropdownItem (click)="editCollection()" track-id="edit_collection">
            {{ 'COLLECTIONS_MENU_EDIT' | translate }}
          </button>
          <button type="button" clrDropdownItem (click)="exportCollection()" track-id="export_collection">
            {{ 'COLLECTIONS_MENU_EXPORT' | translate }}
          </button>
          <clr-dropdown>
            <button type="button" clrDropdownTrigger>{{ 'COLLECTIONS_SORT_BY' | translate }}</button>
            <clr-dropdown-menu *clrIfOpen>
              <button
                type="button"
                clrDropdownItem
                (click)="setQueriesSortBy('a-z')"
              >{{ 'COLLECTIONS_SORT_BY_A_Z' | translate }}</button>
              <button
                type="button"
                clrDropdownItem
                (click)="setQueriesSortBy('z-a')"
              >{{ 'COLLECTIONS_SORT_BY_Z_A' | translate }}</button>
              <button
                type="button"
                clrDropdownItem
                (click)="setQueriesSortBy('newest')"
              >{{ 'COLLECTIONS_SORT_BY_NEWEST' | translate }}</button>
              <button
                type="button"
                clrDropdownItem
                (click)="setQueriesSortBy('oldest')"
              >{{ 'COLLECTIONS_SORT_BY_OLDEST' | translate }}</button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </clr-dropdown-menu>
      </clr-dropdown>
    </div>
  </div>
  <div class="query-collections__item-content-wrapper" [ngClass]="{ 'query-collections__item-content--hidden': !showContent }">
    <div class="query-collections__item-nested">
      <app-query-collection-item
        *ngFor="let subcollection of collection.collections"
        [collection]="subcollection"
        (selectQueryChange)="selectQueryChange.next($event)"
        (deleteQueryChange)="deleteQueryChange.next($event)"
        (deleteCollectionChange)="deleteCollectionChange.next($event)"
        (editCollectionChange)="editCollectionChange.next($event)"
        (exportCollectionChange)="exportCollectionChange.next($event)"
      ></app-query-collection-item>
    </div>
    <div class="query-collections__item-queries">
      <div class="query-collections__item-queries-item" *ngFor="let query of sortedCollectionQueries()">
        <span
          class="query-collections__item-queries-item-title"
          (click)="selectQueryChange.next({ query: query, collectionId: collection.id, windowIdInCollection: query.id })"
        >
          <span class="query-title-icon"><clr-icon shape="file"></clr-icon></span>
          {{ query.windowName }}
        </span>
        <span class="query-collections__item-queries-item-right">
          <clr-dropdown>
            <span class="query-collections__item-queries-item-icon">
              <button type="button" clrDropdownTrigger>
                <clr-icon shape="ellipsis-horizontal"></clr-icon>
              </button>
              <!-- <clr-icon shape="login"></clr-icon> -->
            </span>
            <clr-dropdown-menu *clrIfOpen>
              <button type="button" clrDropdownItem (click)="deleteQuery(query)" track-id="delete_query_from_collection">
                {{ 'COLLECTIONS_QUERY_MENU_DELETE' | translate }}
              </button>
            </clr-dropdown-menu>
          </clr-dropdown>
        </span>
      </div>
    </div>
  </div>
</div>
