<div class="app-doc-viewer">
  <div class="doc-viewer-header">
    <span class="doc-viewer-close" (click)="toggleDocs.next()">&times;</span>
    <div class="doc-viewer-back-link" (click)="goBack()" *ngIf="docView.view !== 'root'">
      &#8592; Back
    </div>
    <div class="doc-viewer-breadcrumbs-container hide">
      <!--<ul class="doc-viewer-breadcrumbs" [ngSwitch]="currentDocView.section">
        <li><span class="no-link-link" (click)="goToDocItem({ section: 'rootTypes' }, 0)">Home</span></li>
        <li *ngSwitchCase="'queries'"><span class="no-link-link" (click)="goToDocItem({ section: 'queries' }, 1)">Queries</span></li>
        <li *ngSwitchCase="'mutations'"><span class="no-link-link" (click)="goToDocItem({ section: 'mutations' }, 1)">Mutations</span></li>
        <li *ngFor="let history of docHistory; let i = index;">
          <span class="no-link-link" (click)="goToDocItem(history, i)">{{ history.itemName }}</span>
        </li>
      </ul>-->
    </div>
  </div>
  <div class="doc-viewer-items">
    <div [ngSwitch]="docView.view">
      <ng-container *ngSwitchCase="'root'">
        <div *ngFor="let item of rootTypes">
              <span class="no-link-link" *ngIf="item" (click)="goToType(item.name)">{{ item.name }}</span>
        </div>
      </ng-container>
      <ng-container *ngSwitchCase="'type'">
        <app-doc-viewer-type
         *ngIf="gqlSchema.getType(docView.name)"
         [data]="gqlSchema.getType(docView.name)"
         (goToFieldChange)="goToField($event.name, $event.parentType)"
         (goToTypeChange)="goToType($event.name)"
        ></app-doc-viewer-type>
      </ng-container>
      <ng-container *ngSwitchCase="'field'">
        <app-doc-viewer-field
         [data]="gqlSchema.getType(docView.parentType).getFields()[docView.name]"
         [gqlSchema]="gqlSchema"
         (goToFieldChange)="goToField($event.name, $event.parentType)"
         (goToTypeChange)="goToType($event.name)"
        ></app-doc-viewer-field>
      </ng-container>
    </div>
  </div>
</div>