app-doc-viewer {
    position: relative;
  background: $theme-bg-color;
  z-index: 7;
  transition: all .5s var(--app-easing);
//   overflow: auto;
  line-height: 1.2;
  &.hide-doc{
    flex-grow: 0 !important;
    width: 0;
    padding: 0;
  }
}
.app-doc-notice{
    text-align: center;
    font-weight: bold;
    color: $red;
    font-size: 16px;
    padding: 70px 30px;
}
.app-doc-viewer{
    position: relative;
    padding: 20px;
}
.app-doc-loader{
  @include hide-transition;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba($theme-bg-color, .8);
  z-index: 5;
  img{
      vertical-align: middle;
  }
}
.show-loader{
  @include show-transition;
}
.doc-viewer-header{
    margin-bottom: 20px;
}
.doc-viewer-close{
    float: right;
    font-size: 25px;
    color: $theme-font-color;
    cursor: pointer;
}
.doc-viewer-export-sdl {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  line-height: 30px;
  font-size: 12px;
  color: $orange;
  cursor: pointer;
  opacity: .5;
  transition: all .3s ease;
  &:hover {
    opacity: 1;
  }
}
.doc-viewer-back-link{
    padding: 10px 0;
    color: $blue;
    cursor: pointer;
    display: inline-block;
}
.doc-viewer-breadcrumbs-container{
    padding: 10px 0;
}
.doc-viewer-breadcrumbs{
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
        &:after{
            content: ' /';
            margin: 0 5px;
        }
        &:last-child{
            &:after{
                content: none;
            }
        }
    }
    a{
        color: $blue;
        text-decoration: none;
    }
}
.doc-viewer-search-wrapper{
    padding: 15px 0;
    margin-bottom: 15px;
    line-height: 1;
}
.doc-viewer-search-input{
    font-size: 14px;
    padding: 5px 0;
    border: none;
    border-bottom: 1px solid $theme-border-color;
    transition: all .3s ease;
    &:focus{
        border-bottom-color: $green;
    }
}
.doc-viewer-search-results-title{
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 10px;
    color: $red;
}
.doc-viewer-search-result-item{
    position: relative;
    padding: 10px 60px 10px 5px;
    border-radius: 3px;
    color: $theme-font-color;
    font-size: 13px;
    transition: all .3s ease;
    cursor: pointer;
    &:hover{
        background: rgba($grey, .5);
    }
}
.doc-viewer-search-result-item-inner{
    font-weight: bold;
}
.doc-viewer-search-result-parent-type{
    color: $theme-off-font-color;
    text-decoration: underline;
}
.doc-viewer-search-result-cat{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
    border-radius: 3px;
    &.cat-type{
        background: rgba($green, .05);
        color: $green;
    }
    &.cat-field{
        background: rgba($blue, .05);
        color: $blue;
    }
    &.cat-query{
        background: rgba($cerise, .05);
        color: $cerise;
    }
    &.cat-argument{
        background: rgba($orange, .05);
        color: $orange;
    }
}
.doc-viewer-search-result-highlight{
  background: rgba($orange, .1);
}
.doc-viewer-search-result-description{
    color: $theme-off-font-color;
    font-size: 12px;
    font-weight: normal;
}
.doc-viewer-section{
    margin: 0px 0 40px;
    // border-bottom: 1px solid $light-grey;
}
.doc-viewer-section-title{
    font-size: 10px;
    color: $theme-off-font-color;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
}
.doc-viewer-item{
    margin-bottom: 20px;
}
.doc-viewer-item-query{
    position: relative;
    padding-left: 10px;
    padding-right: 75px;
    &:before{
        content: '';
        position: absolute;
        top: 6px;
        left: 0;
        display: inline-block;
        width: 5px;
        height: 5px;
        border-radius: 2px;
        background-color: $green;
        vertical-align: middle;
    }
    &:hover{
        .doc-viewer-item-query-add-btn{
            opacity: 1;
        }
    }
}
.doc-viewer-item-field{
    color: $blue;
}
.doc-viewer-item-type{
    color: $green;
    font-size: 13px;
}
.doc-viewer-item-value{
    font-size: 12px;
}
.doc-viewer-item-query-type{
    background: rgba($green, .05);
    padding: 3px;
    border-radius: 3px;
}
.doc-viewer-item-query-inner{
    margin-bottom: 1px;
}
.doc-viewer-item-query-deprecated{
    display: inline-block;
    font-size: 12px;
    padding: 3px;
    background: rgba($red, .05);
    color: $red;
}
.doc-viewer-item-query-description{
    font-size: 13px;
    // font-style: italic;
    color: $theme-off-font-color;
}
.doc-viewer-item-query-add-btn{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 10px;
    text-transform: uppercase;
    color: $orange;
    background: rgba($orange, .2);
    border: none;
    border-radius: 3px;
    padding: 3px 5px;
    transition: all .3s ease;
    opacity: 0;
    line-height: 1;
}
