$theme: 'dark';
$theme-bg-color: $black;
$theme-off-bg-color: lighten($black, 5%);
$theme-font-color: $white;
$theme-off-font-color: $light-grey;
$theme-border-color: lighten($black, 15%);
$theme-off-border-color: lighten($black, 5%);
$clr-modal-bg-color: $theme-bg-color;
$clr-header-textColor: $theme-font-color;
$clr-header-bgColor: $theme-off-bg-color;
$clr-dropdown-bg-color: $theme-bg-color;
$clr-dropdown-bg-hover-color: $theme-off-bg-color;
$clr-dropdown-border-color: $theme-border-color;
$modal-shadow-color: rgba(0, 0, 0, 0.3);
