:root {
  --vp-c-brand-1: #64cb29;
  --vp-c-brand-2: #64cb29;
  --vp-c-brand-3: #64cb29;
  --brand-rgb: 100, 203, 41;
  /* --vp-c-brand-2: #747bff; */
  /* --vp-button-brand-bg: var(--vp-c-brand-3); */
  --vp-font-family-base: 'DM Sans', 'Avenir', 'Helvetica Neue', 'Open Sans',
    sans-serif;
  --vp-button-alt-hover-border: var(--vp-c-brand-3);
}
.custom-wrapper {
  max-width: 1020px;
  margin: 0 auto;
}
.custom-wrapper:after,
.custom-wrapper:before {
  content: ' ';
  display: table;
}
.custom-wrapper:after {
  clear: both;
}
.column {
  max-width: 1040px;
  width: 100%;
  float: left;
  padding: 16px;
}
.clear-floats {
  clear: both;
}
img {
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.5;
}

.medium-zoom-overlay {
  z-index: 30;
}

.medium-zoom-image--opened {
  z-index: 31;
}

.open-in-altair-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 12px;
  font-weight: 500;
  font-family: var(--vp-font-family-base);
  z-index: var(--vp-z-index-local-nav);
  background-color: var(--vp-code-copy-code-bg);
  color: var(--vp-code-copy-code-active-text);
  border: 1px solid var(--vp-code-copy-code-border-color);
  padding: 5px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.open-in-altair-btn:hover {
  background-color: var(--vp-code-copy-code-hover-bg);
  border: 1px solid var(--vp-code-copy-code-hover-border-color);
}
