@import "scss/functions";

@import "~@fontsource/jetbrains-mono/index.css";

@import "~ngx-toastr/toastr.css";
@import "~codemirror/lib/codemirror.css";
@import "~codemirror/addon/fold/foldgutter.css";
@import "~codemirror/addon/hint/show-hint.css";
@import "~codemirror/addon/lint/lint.css";
@import "~codemirror/addon/dialog/dialog.css";
@import "~codemirror/addon/search/matchesonscrollbar.css";
@import "~codemirror/addon/tern/tern.css";

@import "scss/globals";
@import "scss/framework";
@import "scss/all";
