<div class="doc-viewer-item doc-viewer-item-query" *ngFor="let item of objToArr(queries)">
  <div class="doc-viewer-item-query-inner">
    <span class="no-link-link" (click)="goToDocItem({section: 'queryDetail', parentName: item.key, itemName: item.name })">{{ item.name }}</span>
    <ng-container *ngIf=" item.args.length ">
      (
      <span *ngFor="let arg of item.args; let last = last">
        <span class="no-link-link" class="doc-viewer-item-field">{{ arg.name }}</span>:
        <span class="no-link-link" class="doc-viewer-item-type">{{ arg.typeValue }}</span><span *ngIf="!last">,</span>
      </span>
      )
    </ng-container>
    <span class="no-link-link" class="doc-viewer-item-type doc-viewer-item-query-type">{{ item.typeValue }}</span>
  </div>
  <div class="doc-viewer-item-query-description">
    {{ item.description }}
  </div>
</div>