@import "scss/variables";
@import "scss/functions";
// $clr-header-textColor: $white;
@import "../node_modules/@clr/icons/clr-icons.min.css";

@import "~codemirror/lib/codemirror.css";
@import "~codemirror/addon/fold/foldgutter.css";
@import "~codemirror/addon/hint/show-hint.css";
@import "~codemirror/addon/lint/lint.css";
@import "~codemirror/addon/dialog/dialog.css";
@import "~codemirror/addon/tern/tern.css";

@import "~ngx-toastr/toastr.css";

@import "scss/framework";
@import "scss/all";

.dark-theme {
  // Reset the imported modules for the new theme.
  // This is required because clarity uses the exports mixin mechanism to prevent loading components multiple times.
  // This prevents being able to include styles for the component in the new theme class.
  // $imported-modules: () !global;

  --theme-bg-color: var(--black-color);
  --theme-off-bg-color: #3f4349;
  --theme-font-color: var(--white-color);
  --theme-off-font-color: var(--light-grey-color);
  --theme-border-color: #565c64;
  --theme-off-border-color: #565656;
  --shadow-bg: rgba(0, 0, 0, 0.3);
  --header-bg-color: var(--theme-off-bg-color);

  --rgb-theme-bg: var(--rgb-black);
  --rgb-theme-off-bg: 63, 67, 73; // #3f4349
  --rgb-theme-font: var(--rgb-white);
  --rgb-theme-off-font: var(--rgb-light-grey);
  --rgb-theme-border: 86, 92, 100; // #565c64
  --rgb-theme-off-border: 86, 86, 86; // #565656
  // $clr-dropdown-bg-color: $theme-bg-color;
  // $clr-dropdown-bg-hover-color: $theme-off-bg-color;
  // $clr-dropdown-border-color: $theme-border-color;

  // @import "scss/framework.dark";
  // @import "scss/all";
}

.dracula-theme {
  --theme-bg-color: #282a36;
  --theme-off-bg-color: #303240;
  --theme-font-color: #f8f8f2;
  --theme-off-font-color: #f8f8f2;
  --theme-border-color: #40414d;
  --theme-off-border-color: #383942;
  --header-bg-color: var(--theme-off-bg-color);

  --editor-comment-color: #6272a4;
  --editor-string-color: #f1fa8c;
  --editor-number-color: #bd93f9;
  --editor-variable-color: #50fa7b;
  --editor-attribute-color: #ff79c6;
  --editor-keyword-color: #ff79c6;
  --editor-atom-color: #bd93f9;
  --editor-property-color: #bd93f9;
  --editor-punctuation-color: #f8f8f2;
  --editor-cursor-color: #f8f8f2;
}
