/* You can add global styles to this file, and also import other style files */
$black: #33363B;
$dark-grey: #A6A6A6;
$grey: #EAEAEA;
$light-grey: #F0F0F0;
$white: #FFF;
$green: #7EBC59;
$blue: #368CBF;
$red: #F00FAA;

$result-default: $black;
$result-string: $red;

$dialog-z-index: 10;

@import "scss/reset";
@import "scss/helpers";
@import "scss/buttons";
@import "scss/loading-screen";

@import "./../node_modules/codemirror/lib/codemirror.css";
@import "./../node_modules/codemirror/addon/fold/foldgutter.css";
@import "./../node_modules/codemirror/addon/hint/show-hint.css";
@import "./../node_modules/codemirror/addon/lint/lint.css";
@import "scss/editor";

@import "app/app.component";