 .app-button{
    font-size: 14px;
    border: 0;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    background: transparent;
    color: $green;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
    img{
        vertical-align: middle;
    }
    &:hover{
        background: $theme-off-bg-color;
    }
    &:focus{
        outline: 0;
    }
    &.active-grey{
        background: $theme-off-bg-color;
    }
    &.active-primary{
        background: $green;
        color: $white;
        &:hover{
            background: lighten($green, 5%);
        }
    }
}
.cancel-request-button{
    height: auto;
    line-height: 20px;
    margin: 10px 0;
}
.subscription-stop-button {
    font-size: 14px;
    border: 0;
    padding: 0 15px;
    line-height: 25px;
    height: 25px;
    background: $red;
    color: $white;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
    transition: all .3s ease;
    &:hover {
      background: lighten($red, 5%);
    }
}
