
button{
    cursor: pointer;
    &:focus{
        outline: 0;
    }
}
.icon-button {
    border: 0;
    border-radius: 4px;
}
.app-button{
    font-size: fontsize(14);
    border: 0;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    background: transparent;
    color: var(--green-color);
    vertical-align: middle;
    cursor: pointer;
    letter-spacing: normal;
    text-transform: none;
    font-weight: normal;
    border-radius: 4px;
    transition: all .3s ease;
    img{
        vertical-align: middle;
    }
    &:hover{
        background: var(--theme-off-bg-color);
    }
    &:focus{
        outline: 0;
    }
    &.full-width {
        width: 100%;
    }
    &.active-grey{
        background: var(--theme-off-bg-color);
    }
    &.active-primary{
        background: var(--green-color);
        color: var(--white-color);
        &:hover{
            // TODO: Figure out how to transition CSS gradients for the button hover effect
            background-image: linear-gradient(
                rgba(255,255,255,0.2),
                rgba(255,255,255,0.2)
            );
        }
    }
}
.cancel-request-button{
    height: auto;
    line-height: 20px;
    margin: 10px 0;
}
.subscription-button {
    font-size: fontsize(14);
    border: 0;
    padding: 0 15px;
    line-height: 25px;
    height: 25px;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
}
.subscription-button--stop {
    background: var(--red-color);
    color: var(--white-color);
    transition: all .3s ease;
    &:hover {
        // TODO: Figure out how to transition CSS gradients for the button hover effect
        background-image: linear-gradient(
            rgba(255,255,255,0.2),
            rgba(255,255,255,0.2)
        );
    }
}
