// === *** OVERRIDES *** ===
.header {
  z-index: 1;

  .branding {
    min-width: 75px;
  }

  .header-nav {
    .nav-link {
      color: var(--theme-font-color);
    }
  }

  .header-actions > .dropdown > .dropdown-toggle {
    color: var(--theme-font-color);
  }
}

.modal-backdrop {
  background: var(--theme-bg-color);
}

.modal-dialog .modal-content {
  background: var(--theme-bg-color);
  box-shadow: 0 5px 12px 2px var(--shadow-bg);
}

.dropdown-menu {
  background: var(--theme-bg-color);
  padding: 0;
  min-width: 170px;

  .dropdown-item {
    transition: all .3s ease;
    color: var(--theme-font-color);
    // padding: 1px 15px 0;
    padding: 5px 10px;
  }
}
.dropdown button.dropdown-toggle:not(.btn) {
  color: var(--theme-font-color);
}
.clr-checkbox-wrapper label {
  color: var(--theme-font-color);
}
