// === *** OVERRIDES *** ===
.header {
  z-index: 1;

  .branding {
    min-width: 75px;
  }

  .header-nav {
    .nav-link {
      color: var(--theme-font-color);
    }
  }

  .header-actions > .dropdown > .dropdown-toggle {
    color: var(--theme-font-color);
  }
}

.modal-backdrop {
  background: var(--theme-bg-color);
}

.modal-dialog .modal-content {
  background: var(--theme-bg-color);
  box-shadow: 0 5px 12px 2px var(--shadow-bg);
}

.dropdown-menu {
  background: var(--theme-bg-color);
  padding: 0;
  min-width: 170px;
  border: 1px solid var(--theme-border-color);

  .dropdown-divider {
    border-color: var(--theme-border-color);
  }

  .dropdown-item {
    transition: all .3s ease;
    color: var(--theme-font-color);
    // padding: 1px 15px 0;
    padding: 5px 10px;
    &:hover {
      color: var(--theme-font-color);
      background: var(--theme-border-color);
    }
    &.active {
      color: var(--primary-color);
      background: var(--theme-border-color);
    }
  }
}
.dropdown button.dropdown-toggle:not(.btn) {
  color: var(--theme-font-color);
}
.clr-checkbox-wrapper label {
  color: var(--theme-font-color);
}

.stack-view {
  background: var(--theme-bg-color);
  color: var(--theme-font-color);
  border-color: var(--theme-border-color);
  .stack-block-label, .stack-block-content {
    background: var(--theme-bg-color);
    color: var(--theme-font-color);
  }
  .stack-block {
    border-color: var(--theme-border-color);
  }
  .stack-children .stack-block {
    border-color: var(--theme-border-color);
  }
  .stack-block, .stack-block-expanded, .stack-block-expandable.on-focus {
    > {
      .stack-block-label, .stack-block-content {
        background: var(--theme-bg-color);
        color: var(--theme-font-color);
      }
    }
    &:hover {
      .stack-block-label, .stack-block-content {
        background: var(--theme-bg-color);
        color: var(--theme-font-color);
      }
    }
  }
}
.stack-view .stack-block-expanded > .stack-block-label,
.stack-view .stack-block-expanded > .stack-block-content {
  background: var(--theme-bg-color);
  color: var(--theme-font-color);
}
.stack-view .stack-block-expandable.on-focus:not(.stack-block-expanded) > .stack-block-label,
.stack-view .stack-block-expandable.on-focus:not(.stack-block-expanded) > .stack-block-content,
.stack-view .stack-block-expandable:hover:not(.stack-block-expanded) > .stack-block-label,
.stack-view .stack-block-expandable:hover:not(.stack-block-expanded) > .stack-block-content {
  background: var(--theme-bg-color);
  color: var(--theme-font-color);

}
.modal .stack-view {
  height: auto;
}
