$black: #33363B;
$dark-grey: #A6A6A6;
$grey: #EAEAEA;
$light-grey: #F0F0F0;
$white: #FFF;
$green: #7EBC59;
$blue: #368CBF;
$cerise: #F00FAA;
$red: #ED6A5A;
$orange: #EDAE49;
$yellow: #E4CE44;
$light-red: #CC998D;
$dark-purple: #303965;

$primary-color: $green;
$secondary-color: $blue;
