.CodeMirror{
    height: 100%;
    font-family: 'Helvetica Neue';
    line-height: 1.4;
    background: transparent;
}
.CodeMirror-cursor{
    border-left-color: $blue;
}
.CodeMirror-gutters{
    background: transparent;
    border: 0;
}
.CodeMirror-foldmarker{
    color: $black;
    text-shadow: none;
}
.cm-s-default{
    .cm-attribute{
        color: $green;
    }
    .cm-string{
        color: $black;
    }
    .cm-property{
        color: $blue;
    }
    .cm-punctuation{
        color: $blue;
    }
}