.CodeMirror{
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4;
    background: transparent;
}
.CodeMirror-cursor{
    border-left-color: $blue;
}
.CodeMirror-gutters{
    background: transparent;
    border: 0;
}
.CodeMirror-foldmarker{
    color: $black;
    text-shadow: none;
}
.CodeMirror-lint-mark-error{
    // border-bottom: 1px dotted #f00;
}
.CodeMirror-lint-tooltip{
    background: $white;
    border: 1px solid $light-grey;
    box-shadow: 0 2px 12px -2px rgba($black, .05);
    border-radius: 5px;
    color: $black;
    padding: 10px;
    font-family: sans-serif;
}
.CodeMirror-hints{
    font-family: inherit;
    box-shadow: 0 0 5px rgba($black, .1);
}
.CodeMirror-hint {
    line-height: 1.4;
    padding: 5px 10px;
    min-width: 100px;
}
.cm-s-default{
    .cm-atom{
        color: $black;
    }
    .cm-attribute{
        color: $green;
    }
    .cm-string{
        color: $black;
    }
    .cm-property{
        color: $blue;
    }
    .cm-punctuation{
        color: $blue;
    }
    .cm-keyword{
        color: $blue;
        font-weight: bold;
    }
    .cm-comment{
        color: $dark-grey;
    }
    .cm-def{
        color: $orange;
    }
}
.cm-s-query-result{
    .cm-attribute{
        color: $result-default;
    }
    .cm-string{
        color: $result-string;
    }
    .cm-property{
        color: $result-default;
    }
    .cm-punctuation{
        color: $result-default;
    }
}
.cm-s-variable-editor{
    background: $light-grey;
    .CodeMirror-scroll{
        min-height: 200px;
    }
    .cm-attribute{
        color: $result-default;
    }
    .cm-string{
        color: $result-string;
    }
    .cm-property{
        color: $result-default;
    }
    .cm-punctuation{
        color: $result-default;
    }
}

.search-result--formatted {
    color: #7EBC59;
}