/* You can add global styles to this file, and also import other style files */

* {
  box-sizing: border-box;
  outline: none;
}
html {
  font-size: $baseline-size;
}
html, body{
  margin: 0;
  height: 100%;
}
body {
  font-size: $base-font-size;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
input {
  color: $theme-font-color;
  background: transparent;
}
input[type="text"], input[type="search"], input[type="url"]{
  display: block;
  width: 100%;
  font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;

  &:focus{
    outline: 0;
  }
}
a{
  color: $blue;
  text-decoration: none;
}

button{
  cursor: pointer;
  &:focus{
    outline: 0;
  }
}

.no-link-link{
  color: $blue;
  cursor: pointer;
}
