@mixin clearfix() {
    &:before,
    &:after {
        content: "";
        display: table;
    }
    &:after {
        clear: both;
    }
}
.hide{
    display: none;
}

.left{
    float: left;
}
.right{
    float: right;
}
.anim{
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
.anim-rotate{
    animation-name: anim-rotate;
}
@keyframes anim-rotate{
    0% {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(359deg);
    }
}

@mixin show-transition{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s var(--app-easing) 0s, opacity 300ms;
}

@mixin hide-transition{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s var(--app-easing) 300ms, opacity 300ms;
}
