.main-container {
  background: $white;
}
.app-content-area {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-content-area {
  position: relative;
  flex: 1;
  overflow: hidden;
}
.main-content-row {
  height: 100%;
  flex-wrap: nowrap;
}
app-window {
  width: 100%;
}
