.main-container {
  color: var(--theme-font-color);
  background: var(--theme-bg-color);
  cursor: default;
}
.main-container-inner {
  flex: 1 1 auto;
  min-height: 1px;
  display: flex;
}
.content-container {
  position: relative;
}
.app-content-area {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}
.main-content-area {
  position: relative;
  flex: 1;
  overflow: hidden;
}
.main-content-row {
  height: 100%;
  flex-wrap: nowrap;
}
app-window {
  // width: 100%;
  // height: 100%;
  flex: 1 1 auto;
  display: flex;
  min-height: 1px;
}

app-query-editor {
  @include main-content-col;
}

app-query-result {
  @include main-content-col;
}

app-doc-viewer {
  @include main-content-col;
}