.main-container {
  background: $white;
}
.app-content-area {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.main-content-area {
  position: relative;
  flex: 1;
  overflow: hidden;
}
.main-content-row {
  height: 100%;
  flex-wrap: nowrap;
}
app-window {
  // width: 100%;
  // height: 100%;
  flex: 1 1 auto;
  display: flex;
  min-height: 1px;
}
.clr-vertical-nav {
  background: transparent;
  .nav-link {
    cursor: pointer;
  }
  .nav-trigger {
    margin-top: 0;
    // background: rgba($primary-color, .5);
  }
  .nav-trigger + .nav-content {
    border-top: none;
  }
  .nav-trigger-icon {
    margin-right: 0.8rem;
  }
}
// Due to the extremely high specificity of clarity UI, this is the only way to style this element :(
.main-container:not([class*="open-overflow-menu"]):not([class*="open-hamburger-menu"]) .clr-vertical-nav.is-collapsed .nav-icon {
  margin-left: 1rem;
}
