$clr-header-bgColor: #fff;
$clr_baseline: 24;
$clr-baseline-px: $clr_baseline * 1px;
$clr-breakpoints: (
    small : 544px,
    medium: 768px,
    large : 992px,
    xlarge: 1200px
);

$result-default: $black;
$result-string: $red;

$dialog-z-index: 10;

$baseline-size: $clr-baseline-px;
$base-font-size: (14/$clr_baseline) * 1rem;
