$theme: 'light';
$theme-bg-color: #ffffff !default;

$clr-header-bgColor: $theme-bg-color;
$clr_baseline: 24;
$clr-baseline-px: $clr_baseline * 1px;
$clr-breakpoints: (
    small : 544px,
    medium: 768px,
    large : 992px,
    xlarge: 1200px
);
$vertical-nav-width: 180px;
$vertical-nav-min-width: 65px;
$vertical-nav-bg-color: $theme-bg-color;
$vertical-nav-item-height: 2rem;
$vertical-nav-icon-size: 0.8rem;

$result-default: $black;
$result-string: $red;

$dialog-z-index: 10;

$baseline-size: $clr-baseline-px;
$base-font-size: (14/$clr_baseline) * 1rem;
