:root {
  --baseline-size: 24;
  --rem-base: var(--baseline-size);
  --body-font-size: 14;

  --simple-ease: ease;
  --ease-in-quad: cubic-bezier(.55, .085, .68, .53);
  --ease-in-cubic: cubic-bezier(.550, .055, .675, .19);
  --ease-in-quart: cubic-bezier(.895, .03, .685, .22);
  --ease-in-quint: cubic-bezier(.755, .05, .855, .06);
  --ease-in-expo: cubic-bezier(.95, .05, .795, .035);
  --ease-in-circ: cubic-bezier(.6, .04, .98, .335);

  --ease-out-quad: cubic-bezier(.25, .46, .45, .94);
  --ease-out-cubic: cubic-bezier(.215, .61, .355, 1);
  --ease-out-quart: cubic-bezier(.165, .84, .44, 1);
  --ease-out-quint: cubic-bezier(.23, 1, .32, 1);
  --ease-out-expo: cubic-bezier(.19, 1, .22, 1);
  --ease-out-circ: cubic-bezier(.075, .82, .165, 1);

  --ease-in-out-quad: cubic-bezier(.455, .03, .515, .955);
  --ease-in-out-cubic: cubic-bezier(.645, .045, .355, 1);
  --ease-in-out-quart: cubic-bezier(.77, 0, .175, 1);
  --ease-in-out-quint: cubic-bezier(.86, 0, .07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(.785, .135, .15, .86);

  --app-easing: var(--simple-ease);

  --black-color: #33363b;
  --dark-grey-color: #a6a6a6;
  --grey-color: #eaeaea;
  --light-grey-color: #f0f0f0;
  --white-color: #fff;
  --green-color: #7ebc59;
  --blue-color: #368cbf;
  --cerise-color: #f00faa;
  --red-color: #ed6a5a;
  --orange-color: #edae49;
  --yellow-color: #e4ce44;
  --light-red-color: #cc998d;
  --dark-purple-color: #303965;

  --primary-color: var(--green-color);
  --secondary-color: var(--blue-color);

  --theme-bg-color: var(--white-color);
  --theme-off-bg-color: var(--light-grey-color);
  --theme-font-color: var(--black-color);
  --theme-off-font-color: var(--dark-grey-color);
  --theme-border-color: var(--grey-color);
  --theme-off-border-color: var(--light-grey-color);

  --header-bg-color: var(--theme-bg-color);

  --shadow-bg: rgba(0, 0, 0, 0.1);


  --rgb-black: 51, 54, 59;
  --rgb-dark-grey: 166, 166, 166;
  --rgb-grey: 234, 234, 234;
  --rgb-light-grey: 240, 240, 240;
  --rgb-white: 255, 255, 255;
  --rgb-green: 126, 188, 89;
  --rgb-blue: 54, 140, 191;
  --rgb-cerise: 240, 15, 170;
  --rgb-red: 237, 106, 90;
  --rgb-orange: 237, 174, 73;
  --rgb-yellow: 228, 206, 68;
  --rgb-light-red: 204, 153, 141;
  --rgb-dark-purple: 48, 57, 101;

  --rgb-primary: var(--rgb-green);
  --rgb-secondary: var(--rgb-blue);

  --rgb-theme-bg: var(--rgb-white);
  --rgb-theme-off-bg: var(--rgb-light-grey);
  --rgb-theme-font: var(--rgb-black);
  --rgb-theme-off-font: var(--rgb-dark-grey);
  --rgb-theme-border: var(--rgb-grey);
  --rgb-theme-off-border: var(--rgb-light-grey);

  --editor-font-family: inherit;

}

$black: #33363b;
$dark-grey: #a6a6a6;
$grey: #eaeaea;
$light-grey: #f0f0f0;
$white: #fff;
$green: #7ebc59;
$blue: #368cbf;
$cerise: #f00faa;
$red: #ed6a5a;
$orange: #edae49;
$yellow: #e4ce44;
$light-red: #cc998d;
$dark-purple: #303965;

$primary-color: $green;
$secondary-color: $blue;

$theme: 'light';
$theme-bg-color: $white !default;
$theme-off-bg-color: $light-grey !default;
$theme-font-color: $black !default;
$theme-off-font-color: $dark-grey !default;
$theme-border-color: $grey !default;
$theme-off-border-color: $light-grey !default;

$clr_baseline: 24;
$clr-baseline-px: $clr_baseline * 1px;
$clr-breakpoints: (
    small : 544px,
    medium: 768px,
    large : 992px,
    xlarge: 1200px
);
$clr-modal-content-box-shadow-color: var(--shadow-bg);
$clr-modal-bg-color: var(--theme-bg-color);
$modal-shadow-color: var(--shadow-bg);
$vertical-nav-width: 180px;
$vertical-nav-min-width: 65px;
$vertical-nav-bg-color: var(--theme-bg-color);
$vertical-nav-item-height: 2rem;
$vertical-nav-icon-size: 0.8rem;

$clr-dropdown-bg-color: var(--theme-bg-color);

$dialog-z-index: 10;

$baseline-size: $clr-baseline-px;
$base-font-size: (14/$clr_baseline) * 1rem;
