<clr-modal [clrModalOpen]="showDialog" (clrModalOpenChange)="toggleDialog.next($event)">
  <h3 class="modal-title">
    <div class="app-dialog-header">
      <div class="app-dialog-title">{{ heading }}</div>
      {{ subheading}}
    </div>
  </h3>
  <div class="modal-body">
    <div class="app-dialog-body">
      <ng-content></ng-content>
    </div>
  </div>
  <div class="modal-footer" *ngIf="showFooter">
    <div class="app-dialog-footer">
      <button class="app-button active-primary right" (click)="toggleDialog.next($event)">{{ 'SAVE_BUTTON' | translate }}</button>
    </div>
  </div>
</clr-modal>
  