<div class="content-container">
  <div class="content-area app-content-area">
    <div class="window-loader window-loader--show" [ngClass]="{ 'window-loader--show': isLoading$ | async }">
      <div class="window-loader__content">
        <img src="assets/img/logo.svg" alt="" class="anim anim-rotate"> {{ 'LOADING_INDICATOR_TEXT' | translate }}
        <div class="window-loader__actions">
          <button class="app-button cancel-request-button" (click)="cancelRequest()" track-id="cancel_request">{{ 'CANCEL_TEXT' | translate }}</button>
        </div>
      </div>
    </div>
    <app-url-box
      [apiUrl]="apiUrl"
      [httpVerb]="httpVerb"
      [isSubscribed]="isSubscribed$ | async"
      [isLoading]="isLoading$ | async"
      [showDocs]="showDocs$ | async"
      [selectedOperation]="selectedOperation$ | async"
      [queryOperations]="queryOperations$ | async"
      [streamState]="streamState$ | async"

      (urlChange)="setApiUrl($event)"
      (httpVerbChange)="setApiMethod($event)"
      (sendRequest)="sendRequest()"
      (toggleDocsChange)="toggleDocs()"
      (reloadDocsChange)="reloadDocs()"
      (addToCollectionChange)="toggleAddToCollectionDialog(true)"
      (selectedOperationChange)="selectOperation($event)"
      (exportWindowChange)="exportWindowData()"
    ></app-url-box>
    <div class="main-content-area">
      <div class="row main-content-row" data-resize-container>
        <app-query-editor
          #queryEditor
          (queryChange)="updateQuery($event)"
          (sendRequest)="sendRequest()"
          (variablesChange)="updateVariables($event)"
          (toggleVariableDialog)="toggleVariableDialog($event)"
          (addFileVariableChange)="addFileVariable()"
          (fileVariableNameChange)="updateFileVariableName($event)"
          (fileVariableDataChange)="updateFileVariableData($event)"
          (deleteFileVariableChange)="deleteFileVariable($event)"
          (queryEditorStateChange)="setQueryEditorState($event)"
          [query]="query"
          [gqlSchema]="gqlSchema"
          [tabSize]="tabSize$ | async"
          [variables]="variables$ | async"
          [showVariableDialog]="showVariableDialog"
        ></app-query-editor>
        <app-query-result
          [queryResult]="queryResult$ | async"
          [responseTime]="responseTime$ | async"
          [responseStatus]="responseStatus$ | async"
          [responseStatusText]="responseStatusText$ | async"
          [isSubscribed]="isSubscribed$ | async"
          [subscriptionResponses]="subscriptionResponses$ | async"
          [subscriptionUrl]="subscriptionUrl"

          (downloadResultChange)="downloadResult()"
          (stopSubscriptionChange)="stopSubscription()"
          (clearSubscriptionChange)="clearSubscription()"
        ></app-query-result>
        <app-doc-viewer
          [gqlSchema]="gqlSchema"
          [allowIntrospection]="allowIntrospection$ | async"
          [ngClass]="{'hide-doc': !(showDocs$ | async)}"
          [isLoading]="docsIsLoading$ | async"
          [addQueryDepthLimit] = "addQueryDepthLimit$ | async"
          [tabSize]="tabSize$ | async"
          (toggleDocsChange)="toggleDocs()"
          (addQueryToEditorChange)="addQueryToEditor($event)"
          (exportSDLChange)="exportSDL()"
        ></app-doc-viewer>
      </div>
    </div>
    <div class="dialogs">
      <clr-modal [clrModalOpen]="showHeaderDialog" (clrModalOpenChange)="toggleHeader($event)">
        <h3 class="modal-title">
          <div class="app-dialog-header">
            <div class="app-dialog-title">{{ 'HEADERS_TEXT' | translate }}</div>
            {{ 'SET_HEADERS_DIALOG_SUBTEXT' | translate }}
          </div>
        </h3>
        <div class="modal-body">
          <div class="app-dialog-body">
            <div class="set-header-input-container" *ngFor="let header of headers$ | async;trackBy:trackByFn; let i = index">
              <div class="set-header-input-column">
                <app-fancy-input
                  class="set-header-input"
                  placeholder="Header key"
                  [ngModel]="header.key"
                  (ngModelChange)="headerKeyChange($event, i)"
                ></app-fancy-input>
              </div>
              <div class="set-header-input-column">
                <app-fancy-input
                  class="set-header-input"
                  placeholder="Header value"
                  [ngModel]="header.value"
                  (ngModelChange)="headerValueChange($event, i)"
                ></app-fancy-input>
              </div>
              <button class="header-input-remove-button" (click)="removeHeader(i)">&times;</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="app-dialog-footer">
            <button track-id="add_header" class="app-button active-grey left" (click)="addHeader()">{{ 'ADD_HEADER_TEXT' | translate }}</button>
            <button class="app-button active-primary right" (click)="toggleHeader($event)">{{ 'SAVE_BUTTON' | translate }}</button>
          </div>
        </div>
      </clr-modal>
      <!-- <app-set-variable-dialog
        [variables]="variables$ | async"
        [showVariableDialog]="showVariableDialog"
        (toggleVariableDialog)="toggleVariableDialog($event)"
        (variablesChange)="updateVariables($event)"
      ></app-set-variable-dialog> -->
      <app-subscription-url-dialog
        [subscriptionUrl]="subscriptionUrl"
        [subscriptionConnectionParams]="subscriptionConnectionParams"
        [showDialog]="showSubscriptionUrlDialog"
        (toggleDialogChange)="toggleSubscriptionUrlDialog($event)"
        (subscriptionUrlChange)="updateSubscriptionUrl($event)"
        (subscriptionConnectionParamsChange)="updateSubscriptionConnectionParams($event)"
      ></app-subscription-url-dialog>
      <app-history-dialog
        [historyList]="historyList"
        [showDialog]="showHistoryDialog"
        (toggleDialogChange)="toggleHistoryDialog($event)"
        (restoreHistoryChange)="restoreHistory($event)"
        (clearHistoryChange)="clearHistory()"
      ></app-history-dialog>
      <app-dialog
        [showDialog]="showAddToCollectionDialog"
        [heading]="'SAVE_TO_COLLECTION_HEADER' | translate"
        [subheading]="'SAVE_TO_COLLCTION_SUBTEXT' | translate"
        [showFooter]="false"

        (toggleDialog)="toggleAddToCollectionDialog($event)"
      >
        <div class="add-to-collection-wrapper">
          <div class="app-dialog-section">
            {{ 'SAVE_TO_COLLECTION_NAME_OF_QUERY' | translate }}
            <input type="text" class="dialog-input" [(ngModel)]="newCollectionQueryTitle" attr.aria-label="{{ 'SAVE_TO_COLLECTION_NAME_OF_QUERY' | translate }}">
          </div>
          <div class="app-dialog-section">
            <div class="add-to-collection__list">
              <div class="add-to-collection__list-item" *ngFor="let collection of (collections$ | async)" (click)="saveQueryToCollection(collection.id)">
                {{ collection.title }}
              </div>
            </div>
          </div>
          <div class="app-dialog-section">
            {{ 'SAVE_TO_COLLECTION_OR_CREATE_NEW_COLLECTION_LABEL' | translate }}
            <input type="text" class="dialog-input" [(ngModel)]="newCollectionTitle" attr.aria-label="{{ 'SAVE_TO_COLLECTION_OR_CREATE_NEW_COLLECTION_LABEL' | translate }}">
            <div class="add-to-collection__actions clearfix">
              <button class="app-button active-grey right" (click)="createCollectionAndSaveQueryToCollection()">{{ 'CREATE_COLLECTION_BUTTON' | translate }}</button>
            </div>
          </div>
        </div>
      </app-dialog>
    </div>
  </div>
</div>
