name: npm-publish-workflow

on:
  workflow_call:
    inputs:
      node_version:
        description: "Node.js version to use"
        default: "22"
        type: string
    outputs:
      reusable_output:
        description: "Successful publish from the workflow"
        value: ${{ jobs.npm-publish.outputs.success }}
  workflow_dispatch:
    inputs:
      node_version:
        description: "Node.js version to use"
        default: "22"
        type: string

permissions:
  contents: write
  id-token: write

jobs:
  npm-publish:
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    outputs:
      success: ${{ steps.publish.outcome != 'failure' }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ inputs.node_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          cache: "pnpm"
      - name: Authenticate with Registry
        run: echo -e "\n//registry.npmjs.org/:_authToken=$NPM_TOKEN" >> .npmrc
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      - run: pnpm i --frozen-lockfile
      - uses: nick-invision/retry@v2
        with:
          timeout_minutes: 15
          max_attempts: 3
          command: pnpm build:ci
      - id: publish
        run: pnpm publish -r --no-git-checks --provenance
