name: npm-publish-workflow

on:
  workflow_call:
    inputs:
      node_version:
        description: "Node.js version to use"
        default: "22"
        type: string
      production:
        description: "Whether to publish as production"
        required: false
        default: true
        type: boolean
    outputs:
      reusable_output:
        description: "Successful publish from the workflow"
        value: ${{ jobs.npm-publish.outputs.success }}
  workflow_dispatch:
    inputs:
      node_version:
        description: "Node.js version to use"
        default: "22"
        type: string
      production:
        description: "Whether to publish as production"
        required: false
        default: true
        type: boolean

permissions:
  contents: write
  id-token: write

jobs:
  npm-publish:
    permissions:
      id-token: write
      contents: write
    runs-on: ubuntu-latest
    outputs:
      success: ${{ steps.publish.outcome != 'failure' }}
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Use Node.js ${{ inputs.node_version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ inputs.node_version }}
          registry-url: "https://registry.npmjs.org"
          cache: "pnpm"
      - name: Update npm
        run: sudo npm install -g npm@latest
      - name: Verify npm version
        run: npm --version
      - run: pnpm i --frozen-lockfile
      - uses: nick-invision/retry@v2
        with:
          timeout_minutes: 15
          max_attempts: 3
          command: pnpm build:ci
      - id: publish
        run: |
          if [ "${{ inputs.production == true }}" = "true" ]; then
            pnpm publish -r --no-git-checks --provenance --access public
          else
            echo "Not a production publish. Only verifying authentication..."
            pnpm whoami
          fi
