name: main

# Main workflow for CI/CD. Manages all jobs

on:
  push:
    branches:
      - master
    tags:
      - "**"
  pull_request:
  merge_group:
  workflow_dispatch:

env:
  NODE_VERSION: "24.x"
  # NODE_OPTIONS: --openssl-legacy-provider

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: {}

# TODO: Handle browser extension release

jobs:
  # Expose common variables
  vars:
    runs-on: ubuntu-latest
    outputs:
      node_version: ${{ env.NODE_VERSION || '22' }}
      type: ${{ contains(github.ref, 'refs/tags/v') && 'release' || (github.ref == 'refs/heads/master' && 'master' || 'pr') }}
    steps:
      - run: echo "Exposing env vars"

  # Prepare release draft (if applicable)
  prepare-release:
    name: Prepare release
    needs: vars
    if: ${{ needs.vars.outputs.type == 'release' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - id: release-draft
        uses: softprops/action-gh-release@de2c0eb89ae2a093876385947365aca7b0e5f844 # v0.1.15
        with:
          token: ${{ secrets.github_token }}
          prerelease: false
          draft: true
          generate_release_notes: true
    outputs:
      release-tag: ${{ steps.release-draft.outputs.id }}

  # Run tests
  tests:
    needs: vars
    uses: ./.github/workflows/_tests.yml
    with:
      node_version: ${{ needs.vars.outputs.node_version }}

  # Build and push Docker images
  docker:
    needs: [vars, prepare-release]
    if: ${{ !cancelled() && !failure() }}
    uses: ./.github/workflows/_push-docker.yml
    permissions:
      contents: read
      packages: write
    with:
      # Push if on master or if it's a release
      push: ${{ needs.vars.outputs.type == 'master' || needs.vars.outputs.type == 'release' }}
      # Only push latest tag for releases
      release: ${{ needs.vars.outputs.type == 'release' }}
      version: ${{ needs.prepare-release.outputs.release-tag || github.sha }}
    secrets:
      dockerhub_username: ${{ secrets.dockerhub_username }}
      dockerhub_token: ${{ secrets.dockerhub_token }}

  # Build and publish Electron app
  electron:
    needs: [vars, prepare-release]
    if: ${{ !cancelled() && !failure() }}
    uses: ./.github/workflows/_publish-electron.yml
    permissions:
      contents: write
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
      publish: ${{ needs.vars.outputs.type == 'release' }}
    secrets:
      apple_api_key: ${{ secrets.apple_api_key }}
      apple_api_key_id: ${{ secrets.apple_api_key_id }}
      apple_id: ${{ secrets.apple_id }}
      apple_id_password: ${{ secrets.apple_id_password }}
      apple_team_id: ${{ secrets.apple_team_id }}
      chocolatey_api_key: ${{ secrets.chocolatey_api_key }}
      mac_certs: ${{ secrets.mac_certs }}
      mac_certs_password: ${{ secrets.mac_certs_password }}
      sentry_auth_token: ${{ secrets.sentry_auth_token }}
      sentry_org: ${{ secrets.sentry_org }}
      sentry_project: ${{ secrets.sentry_project }}
      snapcraft_store_credentials: ${{ secrets.snapcraft_store_credentials }}

  # Build and publish NPM packages
  npm:
    needs: [vars, prepare-release]
    if: ${{ !cancelled() && !failure() }}
    uses: ./.github/workflows/_publish-npm.yml
    permissions:
      contents: write
      id-token: write
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
      production: ${{ needs.vars.outputs.type == 'release' }}

  # Build and publish Tauri app
  tauri:
    needs: [vars, prepare-release]
    if: ${{ !cancelled() && !failure() }}
    uses: ./.github/workflows/_publish-tauri.yml
    permissions:
      contents: write
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
      publish: ${{ needs.vars.outputs.type == 'release' }}

  publish-release:
    name: Publish release
    needs: [vars, prepare-release, electron]
    if: ${{ needs.vars.outputs.type == 'release' }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: eregon/publish-release@01df127f5e9a3c26935118e22e738d95b59d10ce # v1.0.6
        env:
          GITHUB_TOKEN: ${{ secrets.github_token }}
        with:
          release_id: ${{ needs.prepare-release.outputs.release-tag }}

  # Deploy sites and docs
  sites:
    needs: [vars, publish-release]
    if: ${{ !cancelled() && !failure() }}
    uses: ./.github/workflows/_deploy-sites.yml
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
      # Delay docs deployment by 60 seconds on release to allow for release data propagation
      delay_seconds: ${{ needs.vars.outputs.type == 'release' && 60 || 0 }}
    secrets:
      cloudflare_api_token: ${{ secrets.cloudflare_api_token }}
      cloudflare_account_id: ${{ secrets.cloudflare_account_id }}

  # Deploy translation site
  translate:
    needs: vars
    if: ${{ needs.vars.outputs.type == 'master' }}
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4.3.1
        with:
          persist-credentials: false
      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
      - name: Use Node.js
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
      - run: pnpm i --frozen-lockfile
      - run: pnpm build:ci
      - name: Deploy to translate surge.sh
        uses: dswistowski/surge-sh-action@a261b926476d94cc718b0855214344a68ae98c9f # v1
        with:
          domain: altair-gql-translate.surge.sh
          project: ./packages/altair-app/dist
          login: ${{ secrets.surge_login }}
          token: ${{ secrets.surge_token }}
