# deprecated: Superceded by .github/workflows/main.yml
name: master-workflow

on: {}
# on:
#   push:
#     branches:
#       - master

env:
  NODE_VERSION: 22
  # NODE_OPTIONS: --openssl-legacy-provider

jobs:
  translate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: "pnpm"
      - run: pnpm i --frozen-lockfile
      - run: pnpm build:ci
      - name: Deploy to translate surge.sh
        uses: dswistowski/surge-sh-action@v1
        with:
          domain: altair-gql-translate.surge.sh
          project: ./packages/altair-app/dist
          login: ${{ secrets.surge_login }}
          token: ${{ secrets.surge_token }}
  # todo:
  #   runs-on: ubuntu-latest
  #   steps:
  #     - uses: actions/checkout@v2
  #     - name: "TODO to Issue"
  #       uses: alstr/todo-to-issue-action@v4
  #       id: todo
