name: pr-and-master-workflow

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
# v*.*.*

env:
  NODE_VERSION: 22
  # NODE_OPTIONS: --openssl-legacy-provider

jobs:
  vars:
    runs-on: ubuntu-latest
    outputs:
      node_version: ${{ env.NODE_VERSION }}
    steps:
      - run: echo "Exposing env vars"
  sites:
    needs: vars
    uses: ./.github/workflows/_deploy-sites.yml
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
    secrets: inherit

  tests:
    needs: vars
    uses: ./.github/workflows/_tests.yml
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
    secrets: inherit

  docker:
    needs: vars
    # We do not need to check out the repository to use the reusable workflow
    uses: ./.github/workflows/_push-docker.yml
    with:
      push: ${{ github.ref == 'refs/heads/master' }}
      version: ${{ github.sha }}
    secrets: inherit

  electron:
    needs: vars
    uses: ./.github/workflows/_publish-electron.yml
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
      publish: false
    secrets: inherit

  tauri:
    needs: vars
    uses: ./.github/workflows/_publish-tauri.yml
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
      publish: false
    secrets: inherit
