name: release-workflow

# https://victoronsoftware.com/posts/github-reusable-workflows-and-steps/

on:
  push:
    tags:
      - "**"
  workflow_dispatch:

env:
  NODE_VERSION: 22
  # NODE_OPTIONS: --openssl-legacy-provider

permissions:
  contents: write
  id-token: write

# TODO: Handle browser extension release
jobs:
  vars:
    runs-on: ubuntu-latest
    outputs:
      node_version: ${{ env.NODE_VERSION }}
    steps:
      - run: echo "Exposing env vars"
  prepare-release:
    name: Prepare release
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v4
      - id: release-draft
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.github_token }}
          prerelease: false
          draft: true
          generate_release_notes: true
    outputs:
      release-tag: ${{ steps.release-draft.outputs.id }}

  docker:
    needs: [vars, prepare-release]
    # We do not need to check out the repository to use the reusable workflow
    uses: ./.github/workflows/_push-docker.yml
    with:
      push: true
      release: true
      version: ${{ needs.prepare-release.outputs.release-tag }}
    secrets: inherit

  electron:
    needs: vars
    uses: ./.github/workflows/_publish-electron.yml
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
    secrets: inherit

  tauri:
    needs: vars
    uses: ./.github/workflows/_publish-tauri.yml
    permissions:
      contents: write
      id-token: write
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
    secrets: inherit

  npm:
    needs: [electron, vars]
    # We do not need to check out the repository to use the reusable workflow
    uses: ./.github/workflows/_publish-npm.yml
    permissions:
      contents: write
      id-token: write
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
    secrets: inherit

  publish-release:
    name: Publish release
    runs-on: ubuntu-latest
    needs: [prepare-release, electron]
    steps:
      - uses: eregon/publish-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          release_id: ${{ needs.prepare-release.outputs.release-tag }}

  sites:
    needs: [vars, publish-release]
    uses: ./.github/workflows/_deploy-sites.yml
    with:
      node_version: ${{ needs.vars.outputs.node_version }}
      deploy_docs: true
      deploy_redirect: false
      deploy_sandbox: false
    secrets: inherit
