<div class="doc-viewer-section">
  <!--Type name and description-->
  <div class="doc-viewer-item doc-viewer-item-field">
    <div class="doc-viewer-item-query-inner">
      {{ data.name }}
    </div>
    <div class="doc-viewer-item-query-description">
      {{ data.description }}
    </div>
  </div>
</div>

<div class="doc-viewer-section doc-viewer-fields" *ngIf="data && data.getValues">
  <div class="doc-viewer-section-title">Values</div>
  <div class="doc-viewer-item doc-viewer-item-query" *ngFor="let item of data.getValues();">
    <div class="doc-viewer-item-query-inner">
      <span class="doc-viewer-item-field doc-viewer-item-value">
        {{ item.name }}
      </span>
      <span class="doc-viewer-item-type">
        {{ item.value }}
      </span>
    </div>
    <div class="doc-viewer-item-query-description">
      {{ item.description }}
    </div>
  </div>
</div>

<div class="doc-viewer-section doc-viewer-fields" *ngIf="data && data.getFields">
  <div class="doc-viewer-section-title">Fields</div>
  <div class="doc-viewer-item doc-viewer-item-query" *ngFor="let item of objToArr(data.getFields());">
    <div class="doc-viewer-item-query-inner">
      <span class="no-link-link"
       (click)="goToField(item.name, data.name)"
      >
        {{ item.name }}
      </span>
      <ng-container *ngIf="item.args && item.args.length">
        (
        <span *ngFor="let arg of item.args; let last = last">
          <span
           class="doc-viewer-item-field no-link-link"
           (click)="goToType(arg.type.inspect())"
          >
            {{ arg.name }}
            <span class="doc-viewer-item-value" *ngIf="arg.defaultValue && arg.defaultValue.toString">= {{ arg.defaultValue }}</span>
          </span>
          <span
           class="doc-viewer-item-type no-link-link"
           (click)="goToType(arg.type.inspect())"
          >{{ arg.type.inspect() }}</span><span *ngIf="!last">,</span>
        </span>
        )
      </ng-container>
      <span
        class="doc-viewer-item-type doc-viewer-item-query-type no-link-link"
        (click)="goToType(item.type.inspect())"
      >
        {{ item.type.inspect() }}
      </span>
    </div>
    <div class="doc-viewer-item-query-description">
      {{ item.description }}
    </div>
  </div>